In [6]:
print ('Hello world')

Hello world

In [14]:
i = 1 
while i <= 10:
    print (i)
    i = i + 4

1
5
9

# Headline
## Sub headline
### Marker

*text* 
**text**
***text*** 
****text****

More text

In [2]:
x = y = z = "clueless"
print (x)
print (y)
print (z)

clueless
clueless
clueless

In [9]:
a,b,c = 5,3,2 
print (a)
print (b)
print (c)

5
3
2

In [3]:
a,b,c,d = "hello","I","am","Joan 56"
print (a,d)
print (d)

hello Joan 56
Joan 56

In [18]:
x=10 
x= 'welcome home'
print (x)

welcome home

In [27]:
x= int (18 + 13)
print(x)

31

In [29]:
x= (18 + 13)
print(x)

31

In [30]:
x= 18 + 13
print(x)

31

In [19]:
x= 23
print (type(x))

<class 'int'>

In [24]:
x= 'joan_is_here'
print (type(x))

<class 'str'>

In [25]:
x= 'joan is here'
print (x)

joan is here

In [26]:
x= 'joan_is_here'
print (x)

joan_is_here

In [36]:
# change the function parameters if you need 
def test(a, b):
  # write your code below this line 
  
  x = int(a)
  y = int(b)
  
  return ((x+12)**2-y**3) // 9  # write here the returned value of the function  
  # Write your code above this line

In [37]:
test (2,4)

14

In [38]:
_my_string = 'welcome to python'
print (_my_string)

welcome to python

In [41]:
_my_string = 'welcome to python'
print ('1st letter =', _my_string [0] )

1st letter = w

In [42]:
_my_string = 'welcome to python'
print ('last letter =', _my_string [-1] )

last letter = n

In [44]:
_my_string = 'welcome to python'
print ('2nd letter =', _my_string [1] )

2nd letter = e

In [48]:
_my_string = 'welcome to python'
print ('3rd last letter =', _my_string [-3] )

3rd last letter = h

In [51]:
_my_string = 'welcome to python'
print ('_my_string [1:6]=', _my_string [1:6] )

_my_string [1:6]= elcom

In [52]:
_my_string = 'welcome to python'
print ('_my_string [3:-4]=', _my_string [3:-4] )

_my_string [3:-4]= come to py

In [56]:
str1 = "Welcome to "
str2 ="coding world !"
int1 = '404'
print("str1 + str2 + int1 = ", str1 + str2 + int1)

str1 + str2 + int1 =  Welcome to coding world !404

In [71]:
my_string = "welcome to my coding world!"
print(len(my_string))

27

In [73]:
def test2 (str1, str2):
    return str1[0:4] + str2[0:3]

In [76]:
test2 ('coding','world')

'codiwor'

In [78]:
test (10,6)

29

In [79]:
test2 ('Joan', 'Jaiyeoba')

'JoanJai'

In [81]:
str1 = 'welcomehome'
print(len(str1))

11

In [2]:
great = 1+1
print (great)

2

In [12]:
x = 16 

if x > 0:
    print ('x is a positive number')

x is a positive number

In [13]:
num = -55
if num >= 0: 
    print("Positive or Zero")  
else:
    print("Negative number")

Negative number

In [15]:
num = 153
if num >= 0: 
    print("Positive or Zero")  
else:
    print("Negative number")

Positive or Zero

In [4]:
x=19

if x < 10:
    print ("Good morning")
elif x<12: 
    print ("Soon time for lunch")

elif x<18: 
    print ("Good day")

elif x<22: 
    print ("Good evening")

else: 
    print ("Good night")

Good evening

In [4]:
num = -55
if num > 0:
    print ('positive')
elif num == 0: 
    print("Zero")  
else:
    print("Negative")

Negative

In [21]:
x = (2>5) == (3==6)
if x :
    print('x is True')
else:
    print('x is not True')

x is True

In [27]:
x= 5
if x==2:
    print ('x is an even number')
elif x==4:
    print ('x is an even number')
elif x==6:
    print ('x is an even number') 
elif x==8:
    print ('x is an even number') 
elif x==10:
    print ('x is an even number')
else: 
    print ('X=', 'odd number')

X= odd number

In [30]:
num = 16 
if num < 0:
    print ('negative number')
else:
    print ('positive number')

positive number

In [31]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
for val in numbers: # iterate over the list
	print(val)
print("the for ends here")

6
5
3
8
4
2
5
4
11
the for ends here

In [32]:
for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
a= range(3,101,3)
print (a)

range(3, 101, 3)

In [37]:
range (5)

range(0, 5)

In [43]:
for b in range(3,101,3): 
    print (b)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [1]:
n= 7
while n> 2:
    n = n-1
    print (n)

6
5
4
3
2

MUTABLE: it is when something is changeable or has the ability to change. 
In Python, 'mutable' is the ability of objects to change their values. 
These are often the objects that store a collection of data.
Immutable data types are those that can never change their value in place

ORDERED: When we say that lists are ordered, it means that the items have a defined order, and that order will not change. 
If you add new items to a list, the new items will be placed at the end of the list.

INDEXED: is the postion of an item in a data type. Unindexed means, we cannot access the elements of a set using the indexes like we can do in list and tuples.
Note that dictionaries are unordered - since the values in the dictionary are indexed by keys, they are not held in any particular order, 
unlike a list, where each item can be located by its position in the list.

DUPLICATE MEMBERS: this is whether or not data types accept duplicate members

There are four collection data types in the Python programming language:

List is a collection which is ordered, indexed, and changeable. Allows duplicate members.

Tuple is a collection which is ordered, indexed, and unchangeable. Allows duplicate members. 

Set is a collection which is unordered, changeable, and unindexed. No duplicate members. 

Dictionary is a collection which is unordered** , indexed, and changeable. No duplicate members.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered. 

Python dictionaries are an unordered collection of objects that holds value in a key-value structure. 
The key should be unique and must be an immutable object like a number, strings, and tuples. 
The values can be any Python object.

In [2]:
# declaring a string variable
var1 = "Geek!"
var2 = "Geeks for Geeks"
  
# append multiple strings within a string
print("Hello %s Are you enjoying being at %s for preparations." % (var1, var2))

Hello Geek! Are you enjoying being at Geeks for Geeks for preparations.

In [3]:
# declaring a string variable
var1 = "Geek!"
var2 = "Geeks for Geeks"
var3 = 'here'
  
# append multiple strings within a string
print("Hello %s Are you enjoying being at %s for preparations." % (var1, var3))

Hello Geek! Are you enjoying being at here for preparations.

In [6]:
# declaring string variables
str1 = 'Understanding'
str2 = '%s'
str3 = 'at'
str4 = 'GeeksforGeeks'
  
# concatenating strings
final_str = "%s %s %s " % (str1, str3, str4)
  
# printing the final string
print("Concatenating multiple strings using Python '%s' operator:\n")
print(final_str)

Concatenating multiple strings using Python '%s' operator:

Understanding at GeeksforGeeks

In [8]:
# declaring string variables with dictionary
dct = {'str1': 'at',
       'str2': 'GeeksforGeeks',
       'str3': 'Understanding',
       'str4': '%s'}
  
# concatenating strings
final_str = "%(str3)s %(str1)s %(str1)s %(str2)s" % dct
  
# printing the final string
print("Concatenating multiple strings using Python '%s' operator:\n")
print(final_str)

Concatenating multiple strings using Python '%s' operator:

Understanding at at GeeksforGeeks

In [13]:
# declaring string variables
str1 = 'Understanding'
str2 = 'integers'
str3 = 'at'
str4 = 'GeeksforGeeks = '
  
# declaring list variables
version = ['part 1', 'part 2', 'part 3']
  
# concatenating strings as well as list
final_str = "%s %s %s %s %s" % (str1, str2, str3, str4, version)
  
# printing the final string
print("Concatenating multiple values using Python '%s' operator:\n")
print(final_str)

Concatenating multiple values using Python '%s' operator:

Understanding integers at GeeksforGeeks =  ['part 1', 'part 2', 'part 3']

### CHECKPOINT 2 (1-7)

In [2]:
print ('QUESTION 1')
first_name = input('enter firts name:')
last_name = input ('enter last name:')
print (last_name + ' ' + first_name)

QUESTION 1
enter firts name:Joan
enter last name:Jaiyeoba
Jaiyeoba Joan

In [1]:
print ("QUESTION  2")
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print ("Answer = ", n1+n2+n3)

QUESTION  2
Input an integer : 4
Answer =  492

In [5]:
print ('QUESTION 3')
x = int(input('Input a number (x): '))
if x%2 == 0:
    print ("x is an even number")
else:
    print ('x is an odd number')

QUESTION 3
Input a number (x): 3456
x is an even number

##### QUESTION 4 METHODS

In [14]:
nl=[]
for x in range(2000, 3201):
    if (x%7==0) and not (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [12]:
import math 
 
lower = math.ceil(2000 / 7) 
upper = math.floor(3201 / 7) 
for i in range(lower, upper+1): 
    if (7 * i) % 5 != 0: 
        print(7 * i, end =' ') 
    else: 
        continue

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [13]:
for x in range (2000,3201):
    if x%7 == 0 and x%5 != 0:
        print (x)    # answer wouldnt be displayed vertically

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [19]:
for x in range (2000,3201):
    if x%7 == 0 and x%5 != 0:
        print (x, end=' ')

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [56]:
b = []
for x in range (2000,3201):
    if x%7 == 0 and x%5 != 0:
        b.append(x)
print (b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [2]:
print ('QUESTION 5')
n = int(input("Input a number to compute the factiorial : "))
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(n))

QUESTION 5
Input a number to compute the factiorial : 9
362880

In [1]:
print ('QUESTION 6')
def odd_values_string(str):
    result = ''
    for i in range(len(str)):
        if i % 2 == 0:
            result = result + str[i]
    return result 
        
print (odd_values_string ('hello team'))

QUESTION 6
hlota

In [2]:
print ('QUESTION 7')
x = float(input('Price : '))
if x >= 500:
    print (float(x- (0.5 * x)))
elif x>=200 and x<500:
    print (float(x- (0.3 * x)))
elif x<200:
    print (float(x- (0.1 * x)))

QUESTION 7
Price : 347
242.9

In [3]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[0])

python

In [4]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[-2])

php

In [7]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[2])

SQL

In [8]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[5])

C++

In [9]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[2:5])

['SQL', 'R', 'SAS']

In [10]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[0:1])

['python']

In [11]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list[2:-2])

['SQL', 'R', 'SAS', 'C++']

In [12]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (len(my_list))

8

In [28]:
my_list = ["python", "java", "SQL","R", "SAS", "C++", "php", "html"]
print (my_list)
my_list.append('COBOL')
print (my_list)
my_list.insert (3,'COBOL')
print (my_list)
print (len(my_list))
my_list [9] = 'FORTRAN'
print (my_list)
my_list.remove ('php')
print(my_list)
print (len(my_list))
del my_list [6]
print (my_list)

['python', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html']
['python', 'java', 'SQL', 'R', 'SAS', 'C++', 'php', 'html', 'COBOL']
['python', 'java', 'SQL', 'COBOL', 'R', 'SAS', 'C++', 'php', 'html', 'COBOL']
10
['python', 'java', 'SQL', 'COBOL', 'R', 'SAS', 'C++', 'php', 'html', 'FORTRAN']
['python', 'java', 'SQL', 'COBOL', 'R', 'SAS', 'C++', 'html', 'FORTRAN']
9
['python', 'java', 'SQL', 'COBOL', 'R', 'SAS', 'html', 'FORTRAN']

In [44]:
my_dictionary = {"knowledge": "Data Science","tool": "python","year": 2020, 'week': 4 }
print ('KEYS')
for key in my_dictionary.keys():
    print (key)
print ('VALUES')
for value in my_dictionary.values():
    print (value)
print ('ITEMS')
for item in my_dictionary.items():
    print (item)
print (len(my_dictionary))

KEYS
knowledge
tool
year
week
VALUES
Data Science
python
2020
4
ITEMS
('knowledge', 'Data Science')
('tool', 'python')
('year', 2020)
('week', 4)
4

In [28]:
my_dictionary = {"knowledge": "Data Science","tool": "python","year": 2020, 'week': 4 }
my_dictionary['learn'] = 'true'
print (my_dictionary)
my_dictionary.pop ('week')
print (my_dictionary)
del my_dictionary

{'knowledge': 'Data Science', 'tool': 'python', 'year': 2020, 'week': 4, 'learn': 'true'}
{'knowledge': 'Data Science', 'tool': 'python', 'year': 2020, 'learn': 'true'}

In [74]:
months = {1: 'January', 2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'Septmeber',10:'October',11:'November',12:'December'
         }
for keys in months.keys():
    print (keys, end = '  ') 
for items in months.items():
    print (items)
for values in months.values():
    print (values, end = ' ')
print (len(months))

1  2  3  4  5  6  7  8  9  10  11  12  (1, 'January')
(2, 'February')
(3, 'March')
(4, 'April')
(5, 'May')
(6, 'June')
(7, 'July')
(8, 'August')
(9, 'Septmeber')
(10, 'October')
(11, 'November')
(12, 'December')
January February March April May June July August Septmeber October November December 12

In [75]:
months = {1: 'January', 2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'Septmeber',10:'October',11:'November',12:'December'
         }
mid_year= months[6] + ' and ' + months[7]
print (mid_year)
del (months[5])
print (months.keys())
print (months.values())
print (months.items())
months [5] = 'May'
print (months.keys())
months [2] = 'Feb'
print (months)
sortedkeys = months.keys()
print (sortedkeys)

June and July
dict_keys([1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12])
dict_values(['January', 'February', 'March', 'April', 'June', 'July', 'August', 'Septmeber', 'October', 'November', 'December'])
dict_items([(1, 'January'), (2, 'February'), (3, 'March'), (4, 'April'), (6, 'June'), (7, 'July'), (8, 'August'), (9, 'Septmeber'), (10, 'October'), (11, 'November'), (12, 'December')])
dict_keys([1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 5])
{1: 'January', 2: 'Feb', 3: 'March', 4: 'April', 6: 'June', 7: 'July', 8: 'August', 9: 'Septmeber', 10: 'October', 11: 'November', 12: 'December', 5: 'May'}
dict_keys([1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 5])

In [90]:
months = {1: 'January', 2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'Septmeber',10:'October',11:'November',12:'December'
         }
print (months.items())
#Iterating over keys
for key in months:
    print (key, months[key])
    
#Iterating over (key, value) pairs
for key, value in months.items():
    print (key, value)
    
print ("The entries in the dictionary are:")
for item in months.keys():
    print ("months[ ", item, " ] = ", months[ item ])

dict_items([(1, 'January'), (2, 'February'), (3, 'March'), (4, 'April'), (5, 'May'), (6, 'June'), (7, 'July'), (8, 'August'), (9, 'Septmeber'), (10, 'October'), (11, 'November'), (12, 'December')])
1 January
2 February
3 March
4 April
5 May
6 June
7 July
8 August
9 Septmeber
10 October
11 November
12 December
1 January
2 February
3 March
4 April
5 May
6 June
7 July
8 August
9 Septmeber
10 October
11 November
12 December
The entries in the dictionary are:
months[  1  ] =  January
months[  2  ] =  February
months[  3  ] =  March
months[  4  ] =  April
months[  5  ] =  May
months[  6  ] =  June
months[  7  ] =  July
months[  8  ] =  August
months[  9  ] =  Septmeber
months[  10  ] =  October
months[  11  ] =  November
months[  12  ] =  December

In [102]:
text = 'python'

for character in text:
    print (character)

p
y
t
h
o
n

In [115]:
my_set = {"python", "java", "R"}
print (my_set)
my_set.add("scala")    #add "scala" to the set
print(my_set)    #{'scala', 'python', 'java', 'R'}
my_set.remove("R")    #remove "R" item
print(my_set)    #{'scala', 'python', 'java'}
del my_set

{'python', 'java', 'R'}
{'python', 'scala', 'java', 'R'}
{'python', 'scala', 'java'}

In [118]:
s = set(['a', 'b', 'c'])

In [121]:
s = {'a', 'b', 'c'}

In [122]:
s = {('a', 'b', 'c')}

In [129]:
my_tuple=("python", "java", "R")
print(my_tuple[2])  

#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2     #join the two tuples by + operator
print(tuple3)     #('a', 'b', 'c', 1, 2, 3)

R
('a', 'b', 'c', 1, 2, 3)

In [135]:
def multiply_list(items):
    total = 1
    for x in items:
        total *= x
    return total
print(multiply_list([2,3,6]))

36

In [7]:
my_list =  [2,3,6]
result = 1

for x in my_list:
    result *= x   #or result = result * x
print (result)

36

In [1]:
import numpy as np
my_list = [2,3,6]
result = np.product (my_list)
print (result)

36

In [2]:
listt=[3,2,1,43,1,31,314,54,56,53,53,675,4,79,8]
result=1
for x in listt:
  result -=  x 
  print(result)

-2
-4
-5
-48
-49
-80
-394
-448
-504
-557
-610
-1285
-1289
-1368
-1376

In [3]:
import math
math.prod([ 2, 3, 6])

36

In [11]:
listt = [12,84,462,4691,327,12]
listt.sort()
print (listt)
print ('smallest value is:' ,  listt[0])
print ('largest value is:' , listt[-1])

[12, 12, 84, 327, 462, 4691]
smallest value is: 12
largest value is: 4691

In [13]:
listt = [12,84,462,4691,327,12]
print ('smallest:' , min(listt))
print ('largest:' , max(listt))

smallest: 12
largest: 4691

In [16]:
n1 = int(input('first number'))
n2 = int (input('second number'))
listt = [n1,n2]
print ('smallest:' , min(listt))
print ('largest:' , max(listt))

first number234
second number2345
smallest: 234
largest: 2345

In [20]:
# Python program to find smallest
# number in a list
 
# creating empty list
list1 = []
 
# asking number of elements to put in list
num = int(input("Enter number of elements in list: "))
 
# iterating till num to append elements in list
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
     
# print maximum element
print("Smallest element is:", min(list1))

Enter number of elements in list: 4
Enter elements: 56
Enter elements: 678
Enter elements: 5678
Enter elements: 56789
Smallest element is: 56

In [29]:
# Python program to find smallest
# number in a list
 
l=[ int(l) for l in input("List:").split(",")]
print("The list is ",l)
 
# Assign first element as a minimum.
min1 = l[0]
 
for i in range(len(l)):
 
    # If the other element is min than first element
    if l[i] < min1:
        min1 = l[i] #It will change
 
print("The smallest element in the list is ",min1)

List:3,6,7
The list is  [3, 6, 7]
The smallest element in the list is  3

In [69]:
list1 = []
num = int (input('total number of elements in the list:'))

for i in range(1, num+1):
    no = int(input('enter elments of list:'))
    list1.append (no)

result = 1

for x in list1:
    result *= x   #or result = result * x
print (result)

total number of elements in the list:3
enter elments of list:2
enter elments of list:3
enter elments of list:6
36

# CHECKPOINT 3 (1-5)

In [31]:
print ('QUESTION 1')
list1 = []
num = int (input('total number of elements in the list:'))

for i in range(1, num+1):
    no = int(input('enter elments of list:'))
    list1.append (no)

result = 1

for x in list1:
    result *= x   #or result = result * x
print (result)

QUESTION 1
total number of elements in the list:3
enter elments of list:2
enter elments of list:3
enter elments of list:6
36

In [5]:
print ('QUESTION 2')
def last(n):
    return n[-1]
def sort_list_last(tuples):
    return sorted(tuples,key=last)
print(sort_list_last( [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

QUESTION 2
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
print ('QUESTION 2')
def last(n):
    return n[-1]  
   
def sort(a):
    return sorted(a, key=last)
   
a= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print("Sorted:")
print(sort(a))

QUESTION 2
Sorted:
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [40]:
print ('QUESTION 3')
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

for key in d2:
    if key in d2 and key in d1:
        d2[key] = d2[key] + d1[key]
        
d1.update (d2)
print (d1)

QUESTION 3
{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [70]:
print ('Question 4')
n = int(input("Type a number: "))

numberDict = {}
for i in range(1, n+1):
    numberDict[i] = i*i

print(numberDict)

Question 4
Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [6]:
# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

# Creating a Tuple
# with the use of built-in function
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [71]:
print ('QUESTION 4')
n = int(input("Enter the value of n: "))
squares = {i : i*i for i in range(1, n+1)}
print(squares)

QUESTION 4
Enter the value of n: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [73]:
print ('QUESTION 5')
listt = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(listt, key=lambda x: float(x[1]), reverse=True))

QUESTION 5
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [17]:
# Creating a Tuple
# with Mixed Datatype
Tuple1 = (5, 'Welcome', 7, 'Geeks')
print("\nTuple with Mixed Datatypes: ")
print(Tuple1)

# Creating a Tuple
# with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

# Creating a Tuple
# with repetition
Tuple1 = ('Geeks',) * 3
print("\nTuple with repetition: ")
print(Tuple1)

# Creating a Tuple
# with the use of loop
Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
	Tuple1 = (Tuple1,)
	print(Tuple1)

Tuple with Mixed Datatypes:
(5, 'Welcome', 7, 'Geeks')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

Tuple with repetition:
('Geeks', 'Geeks', 'Geeks')

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [15]:
# Accessing Tuple
# with Indexing
Tuple1 = tuple("Geeks")
print("\nFirst element of Tuple: ")
print(Tuple1[0])


# Tuple unpacking
Tuple1 = ("Geeks", "For", "Geeks")

# This line unpack
# values of Tuple1
a, b, c = Tuple1
print("\nValues after unpacking: ")
print(a)
print(b)
print(c)

First element of Tuple:
G

Values after unpacking:
Geeks
For
Geeks

In [18]:
# Concatenation of tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Geeks', 'For', 'Geeks')

Tuple3 = Tuple1 + Tuple2

# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)

# Printing Second Tuple
print("\nTuple2: ")
print(Tuple2)

# Printing Final Tuple
print("\nTuples after Concatenation: ")
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Geeks', 'For', 'Geeks')

Tuples after Concatenation:
(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

In [19]:
# Slicing of a Tuple

# Slicing of a Tuple
# with Numbers
Tuple1 = tuple('GEEKSFORGEEKS')

# Removing First element
print("Removal of First Element: ")
print(Tuple1[1:])

# Reversing the Tuple
print("\nTuple after sequence of Element is reversed: ")
print(Tuple1[::-1])

# Printing elements of a Range
print("\nPrinting elements between Range 4-9: ")
print(Tuple1[4:9])

Removal of First Element:
('E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')

Tuple after sequence of Element is reversed:
('S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G')

Printing elements between Range 4-9:
('S', 'F', 'O', 'R', 'G')

In [24]:
# Deleting a Tuple

Tuple1 = (0, 1, 2, 3, 4)
del Tuple1          #printing of tuple after deletion results in an error

In [48]:
person = {'name': "Mike", 'age': 25, 'weight': 80.5}

print(person['name'])
person['name'] = "Bob" # Changing existing value
print(person['name'])

person['gender'] = 'm' # Creating new key-value pair
print(person)

print(person.get('name'))
print (person.get('phone'))
print (person.get('phone' , 'Not available '))

Mike
Bob
{'name': 'Bob', 'age': 25, 'weight': 80.5, 'gender': 'm'}
Bob
None
Not available

In [55]:
names_ages = {'Bob': 50,
              'Anna': 28,
              'Max': 30,
              'John': 76}

for element in names_ages:
    print(element)
    
# Output: Bob  Anna  Max  John

print(names_ages.keys())
print(list(names_ages.values()))
print(list(names_ages.items()))

Bob
Anna
Max
John
dict_keys(['Bob', 'Anna', 'Max', 'John'])
[50, 28, 30, 76]
[('Bob', 50), ('Anna', 28), ('Max', 30), ('John', 76)]

In [56]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = d1
d2['c'] = 50

print(d1)
print(d2)

# Output
# {'a': 10, 'b': 20, 'c': 50}
# {'a': 10, 'b': 20, 'c': 50}

{'a': 10, 'b': 20, 'c': 50}
{'a': 10, 'b': 20, 'c': 50}

In [57]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = dict(d1)
d3 = d1.copy()

d2['b'] = 50
d3['a'] = -90
print(d1) # unchanged

{'a': 10, 'b': 20, 'c': 30}

In [61]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'c': 40, 'd': 60, 'e': 20}
d1.update(d2)
print(d1)

print  ('OR')

d3 = {**d1, **d2}
print(d3)

{'a': 10, 'b': 20, 'c': 40, 'd': 60, 'e': 20}
OR
{'a': 10, 'b': 20, 'c': 40, 'd': 60, 'e': 20}

In [65]:
# avaliable in python 3.9
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'c': 40, 'd': 60, 'e': 20}

d3 = d1 | d2  # Merging
d1 |= d2      # Updating

In [66]:
# Take User Input of Number

n = int(input("Enter the value of n: "))

# Create a dictionary of squares

squares = {i : i*i for i in range(1, n+1)}

# Print the dictionary

print(squares)

Enter the value of n: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [76]:
liste = [1,2,3]
Length = 0 
for i in liste :
    Length +=1
print(Length)

# or
liste = [1,2,3]
print(len(liste))

3
3

In [77]:
def function_name():
      # set of tasks
     print("Hello World, this is my first function")
# end of function
function_name()

Hello World, this is my first function

In [78]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("to code!")  #it returns "I want to learn to code!"
my_function("to do AI!")  #it returns "I want to learn to do AI!"

I want to learn to code!
I want to learn to do AI!

In [85]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function('234') #can only concat str to str so parameter shpuld be enclosed in ''

I want to learn 234

In [87]:
def operation(x,y,z): #order matter while using multiple parameters
      print((x+y)*z)
operation(5,3,2) #16
operation(5,2,3) #21

16
21

In [90]:
def my_function(country="Tunisia"):
    print("I am from "+country)
my_function("Maroc")
my_function("Algeria")
my_function()

I am from Maroc
I am from Algeria
I am from Tunisia

In [102]:
def minimum(a,b):
    if a<b:
        return(a)
    else:
        return(b)
minimum(15,24) # this is not possible without return

15

In [126]:
# change the function parameters if you need 
def subtract(a,b):
    x = int(a)
    y = int(b)
return (x-y)  

subtract (10,3)

SyntaxError: 'return' outside function (Temp/ipykernel_9936/3466597191.py, line 5)

In [122]:
>>> def return_none():
...     return
... 
>>> print(return_none())
None
>>>

None

In [124]:
def type_of_int(i):
    if i % 2 == 0:
        return 'even'
    else:
        return 'odd'
    
type_of_int (56)

'even'

In [13]:
def get_demo_data(object_type):
    if 'str' == object_type:
        return 'test'
    elif 'tuple' == object_type:
        return (1, 2, 3)
    elif 'list' == object_type:
        return [1, 2, 3]
    elif 'dict' == object_type:
        return {"1": 1, "2": 2, "3": 3}
    else:
        return 'None'
get_demo_data ('pi')

'None'

In [15]:
str('1')
print (str)

<class 'str'>

In [18]:
listee= str()
print (len(listee))   #length of empty string is 0

0

In [21]:
a = [1,2,3,4,5]
a.remove (3) 
print (a)

[1, 2, 4, 5]

In [30]:
# dictionary keys must be unchangeable/immutable
# set cannot be odered ie u can only add items to end of the set and not insert items between the set
# sets 

my_dictionary = {"knowledge": "Data Science","tool": "python","year": 2020, 'week': 4 }
my_dictionary.values()

dict_values(['Data Science', 'python', 2020, 4])

In [46]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'d': 300, 'e': 200, 'f ':400}

d1['g'] = '345'
print (d1)

d1.update (d2)
print (d1)

{'a': 100, 'b': 200, 'c': 300, 'g': '345'}
{'a': 100, 'b': 200, 'c': 300, 'g': '345', 'd': 300, 'e': 200, 'f ': 400}

In [61]:

def position(n):    
    return n[2]  # 0 represent first element
   
def arrange(a):
    return sorted(a, key=position)
   
a= [(2, 5,4,5), (1, 2,5,6), (4, 4,2,3), (6, 3,7,7), (2, 1,6,1)]
print("Sorted:")
print(arrange(a))

Sorted:
[(4, 4, 2, 3), (2, 5, 4, 5), (1, 2, 5, 6), (2, 1, 6, 1), (6, 3, 7, 7)]

In [62]:

listt = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(listt, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [55]:
b = []
for x in range (2000,3201):
    if x%7 == 0 and x%5 != 0:
        b.append(x)
print (b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [1]:
def return_multiple_values():
    return 1, 2, 3
 
 
print(return_multiple_values())
print(type(return_multiple_values()))

(1, 2, 3)
<class 'tuple'>

In [3]:
#When return statement is executed inside a try-except block, the finally block code is executed first before returning the value to the caller.

def hello():
    try:
        return 'hello try'
    finally:
        print('finally block')
 
 
def hello_new():
    try:
        raise TypeError
    except TypeError as te:
        return 'hello except'
    finally:
        print('finally block')
 
 
print(hello())
print(hello_new())

finally block
hello try
finally block
hello except

In [4]:
#If the finally block has a return statement, then the earlier return statement gets ignored and the value from the finally block is returned.

def hello():
    try:
        return 'hello try'
    finally:
        print('finally block')
        return 'hello from finally'
 
 
print(hello())

finally block
hello from finally

In [6]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3)) #11

11

In [15]:
digits = lambda num : num[:5]   
num = "20204310"
print(digits(num)) # :5 returns 20204 (values before the 5th item)

year = lambda ch : ch[5]   
ch = "20204310"
print(year(ch))    # 5 returns 3       (returns 5th item )

year = lambda ch : ch[5:]   
ch = "20204310"
print(year(ch)) # 5: returns 310     (returns 5th item and beyond)

20204
3
310

In [10]:
tuple1 = (1,7,6)
tuple2 = (3,8,9)
result = list(map(lambda a,b: a+b , tuple1 , tuple2))
print (result)

[4, 15, 15]

In [30]:
def function (a,b):
    return a+b
result = list(map(lambda a,b: a+b, tuple1, tuple2))
print (result)

[4, 15, 15]

In [23]:
#OR
tuple1 = (1,1,6)
tuple2 = (3,8,3)
result = list(map(lambda tuple1, tuple2: tuple1 + tuple2, tuple1, tuple2))
print (result)

[4, 9, 9]

In [34]:
# map(fun, iter)
# Python program to demonstrate working of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [35]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [36]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [37]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

# CHECKPOINT 4

In [40]:
print ('QUESTION 1')
listt = []
num = int(input('Number of elements in the list : '))
for i in range(1 , num+1):
    others= int(input('Enter elememts of the list : '))
    listt.append(others)
    
print ('Maximum number : ' , max(listt))

QUESTION 1
Number of elements in the list : 3
Enter elememts of the list : 20
Enter elememts of the list : 35
Enter elememts of the list : 19
Maximum number :  35

In [42]:
print ('QUESTION 1')
l=[ int(l) for l in input("List:").split(",")]
print("The list is ",l)
 
# Assign first element as a minimum.
max1 = l[0]
 
for i in range(len(l)):
 
    # If the other element is min than first element
    if l[i] > max1:
        max1 = l[i] #It will change
 
print("The maximum element in the list is ",max1)

QUESTION 1
List:20,35,19
The list is  [20, 35, 19]
The maximum element in the list is  35

In [43]:
print ('QUESTION 2')
n1 = int(input('First element : '))
n2 = int(input('Second element : '))

def add_and_minus():
    return ((n1+n2) ,(n1-n2))
print (add_and_minus())

QUESTION 2
First element : 40
Second element : 10
(50, 30)

In [45]:
print ('QUESTION 2')
n1 = int(input('First element : '))
n2 = int(input('Second element : '))

def addition():
    return n1+n2  
print (addition())

def subtraction():
    return n1-n2
print (subtraction())

QUESTION 2
First element : 40
Second element : 10
50
30

In [1]:
print ('QUESTION 3')
grand_list = [1,2,3,4,5,6,7,8,9,10]

result = 0 
for x in grand_list:
    if x % 2 == 0:
        result += x
print ('sum :' , result)

for x in grand_list:
    if x % 2 != 0:
        result *= x
print ('product : ' , result)

QUESTION 3
sum : 30
product :  28350

In [4]:
print('QUESTION 4')
l=[ str(l) for l in input("List:").split("-")]

l.sort() 
print('-'.join(l))

QUESTION 4
List:green-red-yellow-black-white
black-green-red-white-yellow

In [2]:
print ('QUESTION 4')
n=input("enter the string: ") 
l=n.split('-') 
l.sort() 
print('-'.join(l))

QUESTION 4
enter the string: green-red-yellow-black-white
black-green-red-white-yellow

In [7]:
print ('QUESTION 4')
def str_sort(string):
  b = string.split('-')
  b.sort()
  c = '-'.join(b)
  return c

a = input('Enter list : ')
str_sort(a)

QUESTION 4
Enter list : green-red-yellow-black-white

'black-green-red-white-yellow'

In [115]:
print ('QUESTION 5')  #Dont know what to do to answr question completely. 
import math 

D = input('Enter list of numbers : ').split(',')     #split accepts values in str form 
print (D) 

l = [] 
 
for i in D:
    B =  round(math.sqrt((2 * 50 * int(i)/ 30 ))) 
    l.append(B)
print (l)

QUESTION 5
Enter list of numbers : 100,150,180
['100', '150', '180']
[18, 22, 24]

In [10]:
# Python3 program to demonstrate the
# sqrt() method

# import the math module
import math

# print the square root of 0
print(math.sqrt(0))

# print the square root of 4
print(math.sqrt(4))

# print the square root of 3.5
print(math.sqrt(3.5))

0.0
2.0
1.8708286933869707

In [11]:
# Python program for practical application of sqrt() function

# import math module
import math

# function to check if prime or not
def check(n):
	if n == 1:
		return False
		
		# from 1 to sqrt(n)
	for x in range(2, (int)(math.sqrt(n))+1):
		if n % x == 0:
			return False
	return True

# driver code
n = 23
if check(n):
	print("prime")
else:
	print("not prime")

prime

In [2]:

class Parrot:
    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age

# instantiate the Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

# access the class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

# access the instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [5]:
class DemoClass:
    """This is my docstring, this explains brief about the class"""

# this prints the docstring of the class
print(DemoClass.__doc__)

This is my docstring, this explains brief about the class

In [2]:
class MyNewClass:
    """This class demonstrates the creation of objects"""

    # instance attribute
    num = 100
    value = 5000
    

    # instance method
    def hello(self):
        print("Hello World!")


# creating object of MyNewClass
obj = MyNewClass()

# prints attribute value
print(obj.num)
print (obj.value)

# calling method hello()
obj.hello()

# prints docstring
print(MyNewClass.__doc__)

100
5000
Hello World!
This class demonstrates the creation of objects

In [8]:
class Parrot:
    
    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

# instantiate the object
blu = Parrot("Blu", 10)

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

Blu sings 'Happy'
Blu is now dancing

In [4]:
# parent class
class Bird:
    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")
    
    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):
    def __init__(self):            
        super().__init__()          # call super() function
        print("Penguin is ready")

def whoisThis(self):
    print("Penguin")

def run(self):
    print("Run faster")

peggy = Penguin()
peggy.whoisThis()
peggy.swim()


#In the above program, we created two classes i.e. Bird (parent class) and Penguin (child class). 
#The child class inherits the functions of parent class. We can see this from the swim() method.
#Again, the child class modified the behavior of the parent class. We can see this from the whoisThis() method. 
#Furthermore, we extend the functions of the parent class, by creating a new run() method.  (peggy.run())

Bird is ready
Penguin is ready
Bird
Swim faster

In [22]:
class Parrot:
    
    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

# instantiate the object
blu = Parrot("Blu", 10)
yay = Parrot('yay', 26)
yep = Parrot('yep', 43)

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

blu.age=20  # modify the age of blu from 10 to 20
print (blu.age)

print(yay.sing("'Never again'"))
print(yay.dance())

del yay.age  #delete the age property from the yay object
# print (yay.age) will display 'Parrot' object has no attribute 'age' but print (blu.age) still displasy 20

print(yep.sing("'Hone alone'"))
print(yep.dance())

del yep  # delete the yep object
# print(yep.dance()) displays name 'yep' is not defined

Blu sings 'Happy'
Blu is now dancing
20
yay sings 'Never again'
yay is now dancing
yep sings 'Hone alone'
yep is now dancing

In [28]:
class Parrot:
    
    # instance attributes
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    # instance method
    def sing(self, song):
        return "{} sings {}".format(self.name, song)

    def dance(self):
        return "{} is now dancing".format(self.name)

blu = Parrot("Blu", 10) 

# call our instance methods
print(blu.sing("'Happy'"))
print(blu.dance())

#Now that we have a parrot class, lets create some parrots!

#Creating a new object from a class is called instantiating an object. You can instantiate a new parrot object by typing the name of the class, followed by opening and closing parentheses:

Parrot('yay', 26)
#You now have a new parrot object at 0x106702d30. 
#This funny-looking string of letters and numbers is a memory address that indicates where the parrot object is stored in your computers memory. 
#Note that the address you see on your screen will be different.

#Now instantiate a second parrot object:

Parrot('yep', 43)
#The new parrot instance is located at a different memory address. 
#Thats because its an entirely new instance and is completely unique from the first parrot object that you instantiated.

#To see this another way, type the following:

a = Parrot('yay', 26)
b = Parrot('yep', 43)
a==b

#In this code, you create two new parrot objects and assign them to the variables a and b. 
#When you compare a and b using the == operator, the result is False. 
#Even though a and b are both instances of the parrot class, they represent two distinct objects in memory.

Blu sings 'Happy'
Blu is now dancing

False

In [30]:
class parrot:
    def hello(self):
        print ('welcome')

parrot() 
parrot()

a=parrot()
b= parrot()
a==b

False

In [5]:
#Creating bank account class with deposit and withdraw function.
#Step 1: Create a class Bank_Acccount. Then define a function using __init__ with default argument self. This keyword is used in Python to initialize attributes of the class when an object of that class is created. This step is followed by initializing the balance as 0.

class Bank_Account:
    def __init__(self):
        self.balance=0
        print("Welcome to Deposit & Withdrawal Machine!")
        
#Step 2: Now we have to create a function deposit such that the amount of money is taken by input using float and is then added to the balance. Then the amount deposited will be displayed using the print statement in the next line as shown in the code below:

    def deposit(self):
        amount=float(input("Enter amount to be deposited: "))
        self.balance += amount
        print("Amount Deposited: ",amount)

#Step 3: Just like step 2, we are going to create another function withdraw in which we are going to take float input for the amount to get withdraw. 
#We are using an if condition here just to check if we have sufficient balance available to perform a withdrawal of any amount from the account. 
#If the balance is not sufficient then our class will show Insufficient balance.

    def withdraw(self):
        amount = float(input("Enter amount to withdraw: "))
        if self.balance>=amount:
            self.balance-=amount
            print("You withdraw: ",amount)
        else:
            print("Insufficient balance ")

#Step 4: Now we are going to create our final function which is display function. It will display the final balance of the account after withdrawal and deposit.

    def display(self):
        print("Net Available Balance=",self.balance)

#Step 5: As a final step we are going to create an object of our class so that we can call all the functions with that class to execute our code.

#creating an object of class
s = Bank_Account()
#calling functions with that class
s.deposit()
s.withdraw()
s.display()

Welcome to Deposit & Withdrawal Machine!
Enter amount to be deposited: 50000
Amount Deposited:  50000.0
Enter amount to withdraw: 4000
You withdraw:  4000.0
Net Available Balance= 46000.0

## Checkpoint 5

In [12]:
print ('Question 1')  
class Point3D():
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
        
    def method(self,x,y,z):
        return '{},{},{}'.format(self.x,self.y,self.z)
    

my_point= Point3D(1,2,3)
print (my_point.method(1,2,3))   #not sure why i need to input 1,2,3, again

Question 1
1,2,3

In [9]:
print('Question 2')
class Rectangle():
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        return self.length*self.width
    def perimeter(self):
        return (2*(self.length+self.width))

my_Rectangle = Rectangle(4, 3)
print('Area =', my_Rectangle.area())    #dont know how to imput cm^2 unit
print('Perimeter =', my_Rectangle.perimeter() , 'cm')

Question 2
Area = 12
Perimeter = 14 cm

In [118]:
print ('QUESTION 3')
import math
class Circle():
  
    
    def __init__(self,radius):
        self._radius = radius
        print("I am the circle class and i have just been initialized.")
    
    def area(self):
        return round((math.pi*self._radius*self._radius)) 
    def perimeter(self):
        return round(2*math.pi*self._radius) 
    
    def distance(self,a, b, x, y):
        d = math.sqrt (self._radius**2 - ((x-a)^2 + (y-b)^2))
        if (d>0): 
            print("The point is inside the circle")
        elif (d==0):
            print("The point is on the circle's circumference")
        else:
            print("The point is outside the circle")
    
    
center = Circle(5)            #first initialization
another_center = Circle(10)   #second intiliazation 
print('Area = ',center.area())
print ('Circumference = ', center.perimeter())

QUESTION 3
I am the circle class and i have just been initialized.
I am the circle class and i have just been initialized.
Area =  79
Circumference =  31

In [119]:
test_center = Circle(5)

I am the circle class and i have just been initialized.

In [120]:
another_centre = Circle(10)

I am the circle class and i have just been initialized.

In [121]:
dir(Circle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'area',
 'distance',
 'perimeter']

In [11]:
print ('Question 4')
class Bank_Account:
    def __init__(self):
        self.balance=0
        print("Welcome to Deposit & Withdrawal Machine!")
        
    def deposit(self):
        amount = float(input('\nEnter amount to be deposited : '))
        self.balance += amount
        print ('Amount deposited = ', amount)
        
    def withdraw(self):
        amount = float(input('\nEnter amount for withdrawal : '))
        if self.balance>= amount:
            self.balance -= amount
            print ('Amount withdrawn = ', amount)
        else:
            print("Insufficient balance ")
            
    def display(self):               #need to learn how to display negative values 
            print ('\nNet balance = ', self.balance)
        
account = Bank_Account()
account.deposit()
account.withdraw()
account.display()

Question 4
Welcome to Deposit & Withdrawal Machine!

Enter amount to be deposited : 100000
Amount deposited =  100000.0

Enter amount for withdrawal : 3000
Amount withdrawn =  3000.0

Net balance =  97000.0

In [25]:
#But before we get started with NumpPy, we need to import the specific package often designated by np :

#  import numpy as np

# We usually rename numpy by np just to make manipulations easier.

# One dimensional array     new_array=np.array([1,2,3])
# Multi dimensional array   new_array=np.array([[1,2,3],[4,5,6]])

In [12]:
import numpy as np
a = np.array([(1, 2), (3, 4), (5,6)])
a.shape #it returns (3,2) where 3 number of lines, and 2 number of columns
a.size

6

In [13]:
import numpy as n
a =n.array([0,0,0,0,1,0,0,0])
b = a.reshape(2,4)
print (b)
b.size

[[0 0 0 0]
 [1 0 0 0]]

8

There is a very easy way to print superscripts and subscripts using Unicode characters. Do the following:

Press alt+f2
Type "charmap"
On doing so, you'll get tons of characters including subscripts, superscripts, etc. On the bottom left end of the window, you'd see something like 'U-xxxx' where x can be any alpha-numeric character(e.g 1,2,A,B..).

For example:

If you want to print a string x^2, you should write the string as:

'x\u00b2', where u00b2 is 'U+00B2' shown in the Character Map.

In [6]:
#how to input superscript
'cm\u00b2'

'cm'

Indexing in Numpy
As you know items in a NumPy array are stored at a specific index
Let's create a 2 dimentional array together :

a = np.array([[0,1,2],[3,4,5],[6,7,8]])
This is how your array is stored :Since 2 is in the first row and third column this is how we do it :

print(a[0,2])
Remember that Arrays in Python always start with 0.

In [2]:
import numpy as np
a = np.array([[0,1,2],[3,4,5],[6,7,8]]) 
# 2 is in the first row and third column
print (a[0,2])

2

Slicing in NumPy
Since we have an array with 3 row and 3 columns we start with 0 and end with 2 for column/row numbers.

Get a row
This is how we will get the second row :

print(a[1,:])
The output is 1 dimentional array.
Get a column
This is how we will get the last column :

print(a[:, 2])
#if you dont know how many columns you have dont worry!
print(a[:,-1])
The output is 1 dimentional array.

In [3]:
a = np.array([[0,1,2],[3,4,5],[6,7,8]]) 

# This is how we will get the first row
print(a[0,:])
# This is how we will get the second row
print(a[1,:]) 
# This is how we will get the second row
print(a[2,:])


# This is how we will get the first column
print(a[:, 0]) 
print(a[:,-3])
# # This is how we will get the second column
print(a[:, 1]) 
print(a[:,-2])
# This is how we will get the third column
print(a[:, 2]) 
print(a[:,-1])

[0 1 2]
[3 4 5]
[6 7 8]
[0 3 6]
[0 3 6]
[1 4 7]
[1 4 7]
[2 5 8]
[2 5 8]

iNumPy random
NumPy also provides many functions to create arrays:

random.random() function returns random integers between 0 and 1.

import numpy as np
value=np.random.random()
print(value)
We can also create arrays that contains random values between 0 and 1 by specifying the shape of the array.

import numpy as np
array=np.random.random((2,2))
print(array)

In [14]:
import numpy as np
value=np.random.random() #random.random() function returns random integers between 0 and 1.
print(value)

0.07331120339667796

In [16]:
import numpy as np
array=np.random.random((3,2))
print(array)

[[0.76319562 0.13465323]
 [0.81295441 0.02839341]
 [0.9124578  0.82305579]]

In [25]:
import numpy as np
#With random.randint() function we will create an array that contains random integers between
# a minimum value and a maximum value with a specified shape
array=np.random.randint(1 , 100, size=(2,7))
print(array)

[[54 89 49 78 49 93 38]
 [ 4 20 12 86 75 50 29]]

In [7]:
import numpy as np
a=np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])
print (a)
b=np.array([[0,0,0],[0,0,0]])
print (b)
c= np.array([[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
,[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
,[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])
print (c)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
[[0 0 0]
 [0 0 0]]
[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [10]:
np.zeros(90). reshape ((3,30))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

You basically call the function with the code numpy.zeros().

Then inside the zeros() function, there is a set of arguments. The first positional argument is a tuple of values that specifies the dimensions of the new array.

Next, theres an argument that enables you to specify the data type. If you dont specify a data type, np.zeros() will use floats by default.

In [29]:
np.zeros(5)
print (np.zeros(5))
np.zeros(5, dtype = int)
print (np.zeros(5, dtype = int))
np.zeros(5, dtype = int).dtype

np.zeros(shape = (2, 5))
print (np.zeros(shape = (2, 5)))
#or
np.zeros((2, 5))
print (np.zeros((2, 5)))

np.zeros(shape = (2, 5), dtype = 'int')
print (np.zeros(shape = (2, 5), dtype = 'int'))

np.zeros(shape = (3, 2, 5), dtype = 'int')
print (np.zeros(shape = (3, 2, 5), dtype = 'int'))

[0. 0. 0. 0. 0.]
[0 0 0 0 0]
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
[[0 0 0 0 0]
 [0 0 0 0 0]]
[[[0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]]

 [[0 0 0 0 0]
  [0 0 0 0 0]]]

numpy.full
numpy.full(shape, fill_value, dtype=None, order='C', *, like=None)[source]
Return a new array of given shape and type, filled with fill_value.

Parameters
shapeint or sequence of ints
Shape of the new array, e.g., (2, 3) or 2.

fill_valuescalar or array_like
Fill value.

dtypedata-type, optional
The desired data-type for the array The default, None, means
np.array(fill_value).dtype.

order{C, F}, optional
Whether to store multidimensional data in C- or Fortran-contiguous (row- or column-wise) order in memory.

likearray_like
Reference object to allow the creation of arrays which are not NumPy arrays. If an array-like passed in as like supports the __array_function__ protocol, the result will be defined by it. In this case, it ensures the creation of an array object compatible with that passed in via this argument.

New in version 1.20.0.

Returns
outndarray
Array of fill_value with the given shape, dtype, and order.

See also

full_like
Return a new array with shape of input filled with value.

empty
Return a new uninitialized array.

ones
Return a new array setting values to one.

zeros
Return a new array setting values to zero

In [73]:
#Zeros and Full function
#Zeros function returns a new array of a given shape and type filled with zeros:
array=np.zeros(3, dtype = int)
print(array)

#Full function returns a new array of a given shape and type filled with fill_value :
array=np.full((2,3), 5)
print(array)

array=np.full(4, 6)
print(array)

[0 0 0]
[[5 5 5]
 [5 5 5]]
[6 6 6 6]

In [9]:
import numpy as np
a = np.full((2, 2), np.inf)
print (a)

b= np.full((2, 6), 'bored' , dtype = str )
print (b)

c = np.full((2, 3) , [3, 5,8])
print (c)

[[inf inf]
 [inf inf]]
[['b' 'b' 'b' 'b' 'b' 'b']
 ['b' 'b' 'b' 'b' 'b' 'b']]
[[3 5 8]
 [3 5 8]]

In [78]:
#Eye and Ones Functions
#Eye function returns a 2D array with ones on the diagonal and zeros elsewhere :
array=np.eye(4 , dtype = int)
print(array)

#Ones function returns a new array of given shape and type filled with ones :
array=np.ones(10, dtype= int)
print(array)

[[1 0 0 0]
 [0 1 0 0]
 [0 0 1 0]
 [0 0 0 1]]
[1 1 1 1 1 1 1 1 1 1]

In [92]:
#NumPy addition
#First, let's start by creating two arrays :

import numpy as np
x=np.array([[1,7],[3,4]], dtype=np.float64)  # x and y must have the same shape 
y=np.array([[5,6],[7,10]], dtype=np.float64)  # without dtype=np.float64 there will be no '.'

#The function add returns the sum of two arrays :

#First method:
a=np.add(x, y)
print (a)

#Second method:
b=x+y
print (b)

[[ 6. 13.]
 [10. 14.]]
[[ 6. 13.]
 [10. 14.]]

In [95]:
#NumPy Subtract
#The function subtract returns the difference between two numpy arrays

#First method:
a=np.subtract(x, y)
print (a)

#Second method:
b=x-y 
print (b)

[[-4.  1.]
 [-4. -6.]]
[[-4.  1.]
 [-4. -6.]]

In [96]:
import numpy as np
print("Add:")
print(np.add(1.0, 4.0))
print("Subtract:")
print(np.subtract(1.0, 4.0))
print("Multiply:")
print(np.multiply(1.0, 4.0))
print("Divide:")
print(np.divide(1.0, 4.0))

Add:
5.0
Subtract:
-3.0
Multiply:
4.0
Divide:
0.25

In [114]:
x = np.array( 3 )
y = np.array( 4 )


print('sum = ' ,  x+y)
print(np.add(x,y))

print('minus = ' ,  x-y)
print(np.subtract(x,y))

print('multiply = ' ,  x*y)
print(np.multiply(x,y))

print('divide = ' ,  x//y)   # floor division '//' approximates to nearest integer
print(np.divide(x,y))

sum =  7
7
minus =  -1
-1
multiply =  12
12
divide =  0
0.75

In [1]:
from array import *
def array_list(array_num):
	num_list = array_num.tolist() # list
	print(num_list)

# driver code
array_num = array('i', [45,34,67]) # array
array_list(array_num)

[45, 34, 67]

In [5]:
from array import *
array_num = array('i', [1, 3, 5, 3, 7, 1, 9, 3])
print("Original array: "+str(array_num))
num_list = array_num.tolist()
print("Convert the said array to an ordinary list with the same items:")
print(num_list)

Original array: array('i', [1, 3, 5, 3, 7, 1, 9, 3])
Convert the said array to an ordinary list with the same items:
[1, 3, 5, 3, 7, 1, 9, 3]

In [1]:
# Method 1: Finding the sum of diagonal elements using numpy.trace()
# Syntax : numpy.trace(a, offset=0, axis1=0, axis2=1, dtype=None, out=None)  
# importing Numpy package

import numpy as np

# creating a 3X3 Numpy matrix
n_array = np.array([[55, 25, 15], [30, 44, 2],[11, 45, 77]])

# Displaying the Matrix
print("Numpy Matrix is:")
print(n_array)

# calculating the Trace of a matrix
trace = np.trace(n_array)
print("\nTrace of given 3X3 matrix:")
print(trace)

Numpy Matrix is:
[[55 25 15]
 [30 44  2]
 [11 45 77]]

Trace of given 3X3 matrix:
176

In [2]:
#Method 2: Finding the sum of diagonal elements using numpy.diagonal()
#Syntax : numpy.diagonal(a, offset=0, axis1=0, axis2=1

# importing Numpy package
import numpy as np

# creating a 5X5 Numpy matrix
n_array = np.array([[5, 2, 1, 4, 6],
					[9, 4, 2, 5, 2],
					[11, 5, 7, 3, 9],
					[5, 6, 6, 7, 2],
					[7, 5, 9, 3, 3]])

# Displaying the Matrix
print("Numpy Matrix is:")
print(n_array)

# Finding the diagonal elements of a matrix
diag = np.diagonal(n_array)

print("\nDiagonal elements are:")
print(diag)

print("\nSum of Diagonal elements is:")
print(sum(diag))

Numpy Matrix is:
[[ 5  2  1  4  6]
 [ 9  4  2  5  2]
 [11  5  7  3  9]
 [ 5  6  6  7  2]
 [ 7  5  9  3  3]]

Diagonal elements are:
[5 4 7 7 3]

Sum of Diagonal elements is:
26

Syntax: numpy.where(condition[, x, y])
Return: [ndarray or tuple of ndarrays] If both x and y are specified, the output array contains elements of x where condition is True, and elements from y elsewhere.

Syntax: numpy.any(a, axis = None, out = None, keepdims = class numpy._globals._NoValue at 0x40ba726c)

Return: [ndarray, optional]Output array with same dimensions as Input array, Placed with result

Example :

Arr = [[1,2,3,4,5], 
      [10,-3,30,4,5], 
      [3,2,5,-4,5], 
      [9,7,3,6,5]] 
and X = 6 then output is [ 0, 2 ].

Here, 
[[1,2,3,4,5],
no element is greater than 6 so output is [0].

[10,-3,30,4,5],
10 is greater than 6 so output is [0].

[3,2,5,-4,5],
no element is greater than 6 so output is [0, 2].

[4,7,3,6,5]]
7 is greater than 6 so output is [0, 2].

In [3]:
# importing library
import numpy

# create numpy array
arr = numpy.array([[1, 2, 3, 4, 5],
				[10, -3, 30, 4, 5],
				[3, 2, 5, -4, 5],
				[9, 7, 3, 6, 5]
				])

# declare specified value
X = 6

# view array
print("Given Array:\n", arr)

# finding out the row numbers
output = numpy.where(numpy.any(arr > X,
								axis = 1))

# view output
print("Result:\n", output)

Given Array:
 [[ 1  2  3  4  5]
 [10 -3 30  4  5]
 [ 3  2  5 -4  5]
 [ 9  7  3  6  5]]
Result:
 (array([1, 3], dtype=int64),)

## CHECKPOINT 6

In [6]:
print ('QUESTION 1')
array = np.array ([[2,4,6] , [8,10,12]])
print (array)

conversion = array.tolist()
print ('list: ', conversion)

QUESTION 1
[[ 2  4  6]
 [ 8 10 12]]
list:  [[2, 4, 6], [8, 10, 12]]

In [14]:
print ('QUESTION 2')
import numpy as np

array = np.array([[55, 25, 15], [30, 44, 2],[11, 45, 77]])

print("Original Matrix:")
print(array)

trace = np.trace(n_array)
print("\nTrace of given 3X3 matrix:")
print(trace)

QUESTION 2
Original Matrix:
[[55 25 15]
 [30 44  2]
 [11 45 77]]

Trace of given 3X3 matrix:
176

In [9]:
print ('QUESTION 3')
import numpy as np
array = np.array([[1,2,3], [4,5,6],[7,8,9]] )
print (array)

x=7
print ('\n')
print (array[array>x])

QUESTION 3
[[1 2 3]
 [4 5 6]
 [7 8 9]]


[8 9]

In [15]:
print ('QUESTION 4')
import numpy as np
A = np.array([[1,7],[3,4]],dtype=int ) 
B = np.array([[5,6],[7,10]],dtype=int )  

C = A + B
print (C)

QUESTION 4
[[ 6 13]
 [10 14]]

In [11]:
print ('QUESTION 5')
import numpy as np
array = np.array([[5,17,8], [18,42,76],[7,10,18]] )
print (array)

x= array - array.mean(axis = 1 , keepdims = True , dtype=int)
print ("\n")
print (x)

QUESTION 5
[[ 5 17  8]
 [18 42 76]
 [ 7 10 18]]


[[ -5   7  -2]
 [-27  -3  31]
 [ -4  -1   7]]

In [12]:
print ('QUESTION 5')
import numpy as np
array = np.array([[5,17,8], [18,42,76],[7,10,18]] )
print (array)

x = array.mean(axis=1, keepdims= True, dtype = int)
print (x)

y = array - x 
print (y)

QUESTION 5
[[ 5 17  8]
 [18 42 76]
 [ 7 10 18]]
[[10]
 [45]
 [11]]
[[ -5   7  -2]
 [-27  -3  31]
 [ -4  -1   7]]

In [13]:
import numpy as np
array = np.array([[5,17,8], [18,42,76],[7,10,18]] )
print (array)

x= array - array.mean(axis = 1 , keepdims = False , dtype=int)
print (x)

[[ 5 17  8]
 [18 42 76]
 [ 7 10 18]]
[[ -5 -28  -3]
 [  8  -3  65]
 [ -3 -35   7]]

What's Pandas

Pandas is an open source package that provides numerous tools for data analysis. 

It offers fast, flexible and expressive data structures that can be used for many different data manipulation tasks.

In order to use Pandas in your Python IDE you need to import the Pandas library first: import pandas as pd

Pandas data structures
The two primary data structures of pandas are:

Series: is one-dimensional array. It can store data of any type. Its values are mutable but the size is immutable.

DataFrame: is two-dimensional data with mutable size, it allows to store and manipulate tabular data in rows of observations and columns of variables.

In [18]:
import pandas as pd
import numpy as np
array = np.array(["blue", "yellow", "pink", "purple"]) # get the array
series1 = pd.Series(array)  #create the series from the array
print(series1)

0      blue
1    yellow
2      pink
3    purple
dtype: object

In [3]:
import pandas as pd
list = [19, 175, 41, 22]
series2 = pd.Series(list) #create the series from the list
print(series2)

0     19
1    175
2     41
3     22
dtype: int64

In [6]:
import pandas as pd
color=["pink", "white", "black", "blue"]
occurence = [20, 15, 6, 43]
S=pd.Series(occurence, index=color)
print(S)

pink     20
white    15
black     6
blue     43
dtype: int64

In [18]:
import pandas as pd
color=["pink", "white", "black", "blue"]
S1=pd.Series([20, 15, 6, 43], index=color)
S2=pd.Series([3, 12, 9, 10], index=color)
print(S1+S2)

#or 
S1.add(S2, fill_value=0)

pink     23
white    27
black    15
blue     53
dtype: int64

pink     23
white    27
black    15
blue     53
dtype: int64

pandas.Series.add
Series.add(other, level=None, fill_value=None, axis=0)[source]
Return Addition of series and other, element-wise (binary operator add).

Equivalent to series + other, but with support to substitute a fill_value for missing data in either one of the inputs.

Parameters
otherSeries or scalar value
fill_valueNone or float value, default None (NaN)
Fill existing missing (NaN) values, and any new element needed for successful Series alignment, with this value before computation. If data in both corresponding Series locations is missing the result of filling (at that location) will be missing.

levelint or name
Broadcast across a level, matching Index values on the passed MultiIndex level.

Returns
Series
The result of the operation.

See also

Series.radd
Reverse of the Addition operator, see Python documentation for more details.

In [14]:
import numpy as np
import pandas as pd
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print (a)
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
a.add(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

pandas.Series.add_prefix
Series.add_prefix(prefix)[source]
Prefix labels with string prefix.

For Series, the row labels are prefixed. For DataFrame, the column labels are prefixed.

Parameters
prefixstr
The string to add before each label.

Returns
Series or DataFrame
New Series or DataFrame with updated labels.

See also

Series.add_suffix
Suffix row labels with string suffix.

DataFrame.add_suffix
Suffix column labels with string suffix.

In [16]:
s = pd.Series([1, 2, 3, 4])
print (s)

s.add_prefix('item_')
print (s.add_prefix('item_'))

df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
print (df)

df.add_prefix('col_')

0    1
1    2
2    3
3    4
dtype: int64
item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64
   A  B
0  1  3
1  2  4
2  3  5
3  4  6

   col_A  col_B
0      1      3
1      2      4
2      3      5
3      4      6

In [20]:
import pandas as pd
fruits = ["apples", "oranges", "cherries", "pears",'grapes']
fruits_ro = ["mere", "portocale", "cirese", "pere",'grapes']
S = pd.Series([20, 33, 52, 10,89], index=fruits)
S2 = pd.Series([17, 13, 311, 32,1], index=fruits_ro)
print(S+S2)

apples        NaN
cherries      NaN
cirese        NaN
grapes       90.0
mere          NaN
oranges       NaN
pears         NaN
pere          NaN
portocale     NaN
dtype: float64

Dataframe Introduction
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

Dataframe columns are made up of pandas Series.
You can think of it like a spreadsheet or SQL table,or a dictionary of Series.

In [32]:
import pandas as pd
list = [['Jack', 34, 'Paris'], ['Thomas', 30, 'Roma'], 
       ['Alexandre', 16, 'New York']] 
df = pd.DataFrame(list, columns =['name', 'age', 'city'])
print (df) #using print() removes the tabular structure

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [29]:
import pandas as pd
dictionary  = { 'name' : ['Jack', 'Thomas', 'Alexandre'],
                'age' : [34, 30, 16],
                'city' : ['Paris', 'Roma', 'New York']}

df = pd.DataFrame(dictionary)
df

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [87]:
import numpy as np
import pandas as pd

array=np.random.randint(5, 10, size=(2,4))

df=pd.DataFrame(array, columns=['a','b','c','d'])
print(df)

   a  b  c  d
0  8  6  5  9
1  8  8  7  5

In [2]:
import pandas as pd
df=pd.read_csv("data.csv")
df

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York

In [3]:
#creating a text file
f = open("test.txt", 'w')
f.write("I'm toye \nI studied data analysis")
f.close()

#EXPLAIN: creating a dataframe from a csv file
https://www.geeksforgeeks.org/creating-a-dataframe-using-csv-files/

In [26]:
# Python code demonstrate creating
# pandas DataFrame with indexed by

# DataFrame using arrays.
import pandas as pd

# initialize data of lists.
data = {'Name':['Tom', 'Jack', 'nick', 'juli'],
		'marks':[99, 98, 95, 90]}

# Creates pandas DataFrame.
df = pd.DataFrame(data, index =['rank1',
								'rank2',
								'rank3',
								'rank4'])

# print the data
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [33]:
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd

# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c':3},
		{'a':10, 'b': 20, 'c': 30}]

# Creates DataFrame.
df = pd.DataFrame(data)

# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30

In [34]:
# Python code demonstrate to create
# Pandas DataFrame by passing lists of
# Dictionaries and row indices.
import pandas as pd

# Initialize data of lists
data = [{'b': 2, 'c':3}, {'a': 10, 'b': 20, 'c': 30}]

# Creates pandas DataFrame by passing
# Lists of dictionaries and row index.
df = pd.DataFrame(data, index =['first', 'second'])

# Print the data
df

         b   c     a
first    2   3   NaN
second  20  30  10.0

In [36]:
#Another example to create pandas DataFrame from lists of dictionaries with both row index as well as column index.
 
# Python code demonstrate to create a
# Pandas DataFrame with lists of
# dictionaries as well as
# row and column indexes.
  
import pandas as pd
  
# Initialize lists data.
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
  
# With two column indices, values same
# as dictionary keys
df1 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b'])
  
# With two column indices with
# one index with other name
df2 = pd.DataFrame(data, index =['first',
                                 'second'],
                   columns =['a', 'b1'])
  
# print for first data frame
print (df1, "\n")
  
# Print for second DataFrame.
print (df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

In [1]:
#Creating DataFrame using zip() function.
#Two lists can be merged by using list(zip()) function. 
#Now, create the pandas DataFrame by calling pd.DataFrame() function.

# Python program to demonstrate creating
# pandas Datadaframe from lists using zip.

import pandas as pd

# List1
Name = ['tom', 'krish', 'nick', 'juli']

# List2
Age = [25, 30, 26, 22]

# get the list of tuples from two lists.
# and merge them by using zip().
listt_of_tuples = list(zip(Name, Age))

# Assign data to tuples.
listt_of_tuples


# Converting lists of tuples into
# pandas Dataframe.
df = pd.DataFrame(listt_of_tuples,
				columns = ['Name', 'Age'])
	
# Print data.
df

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [46]:
#Creating DataFrame from Dicts of series.
#To create DataFrame from Dicts of series, dictionary can be passed to form a DataFrame. 
#The resultant index is the union of all the series of passed indexed.

# Python code demonstrate creating
# Pandas Dataframe from Dicts of series.

import pandas as pd

# Initialize data to Dicts of series.
d = {'one' : pd.Series([10, 20, 30, 40],
					index =['a', 'b', 'c', 'd']),
	'two' : pd.Series([10, 20, 30, 40],
						index =['a', 'b', 'c', 'd'])}

# creates Dataframe.
df = pd.DataFrame(d)

# print the data.
df

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all the containers. 

It is used to map the similar index of multiple containers so that they can be used just using a single entity. 
Syntax :  zip(*iterators) 

Parameters : Python iterables or containers ( list, string etc ) 

Return Value : Returns a single iterator object, having mapped values from all the 
containers.

In [60]:
#Example 1: Python zip two lists

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
 
# using zip() to map values
mapped = zip(name, roll_no)
print(tuple(mapped))

print('\n')

mapped = zip(name, roll_no)
print(set(mapped))

print('\n')

mapped = zip(name, roll_no)
print(dict(mapped))

(('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2))


{('Manjeet', 4), ('Shambhavi', 3), ('Nikhil', 1), ('Astha', 2)}


{'Manjeet': 4, 'Nikhil': 1, 'Shambhavi': 3, 'Astha': 2}

In [65]:
#Example 2: Python zip enumerate

names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]
 
for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [68]:
#Example 3: Python zip() Dictionary

stocks = ['reliance', 'infosys', 'tcs']
prices = [2175, 1127, 2750]
 
new_dict = {stocks: prices for stocks,
            prices in zip(stocks, prices)}
print(new_dict)

{'reliance': 2175, 'infosys': 1127, 'tcs': 2750}

# EXPLAIN https://www.geeksforgeeks.org/zip-in-python/?ref=gcse
https://www.geeksforgeeks.org/enumerate-in-python/?ref=lbp

#How to unzip? 
#Unzipping means converting the zipped values back to the individual self as they were. 
#This is done with the help of * operator.


### Python code to demonstrate the working of
### unzip
 
### initializing lists
name = ["Manjeet", "Nikhil", "Shambhavi", "Astha"]
roll_no = [4, 1, 3, 2]
marks = [40, 50, 60, 70]
 
### using zip() to map values
mapped = zip(name, roll_no, marks)
 
### converting values to print as list
mapped = list(mapped)
 
### printing resultant values
print("The zipped result is : ", end="")
print(mapped)
 
print("\n")
 
### unzipping values
namz, roll_noz, marksz = zip(*mapped)
 
print("The unzipped result: \n", end="")
 
### printing initial lists
print("The name list is : ", end="")
print(namz)
 
print("The roll_no list is : ", end="")
print(roll_noz)
 
print("The marks list is : ", end="")
print(marksz)

In [74]:
#Practical Applications
#There are many possible applications that can be said to be executed using zip, be it student database or scorecard or any other utility that requires mapping of groups. A small example of scorecard is demonstrated below. 


# Python code to demonstrate the application of
# zip()
 
# initializing list of players.
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]
 
# initializing their scores
scores = [100, 15, 17, 28, 43]
 
# printing players and scores.
for pl, sc in zip(players, scores):
    print("Player :  %s     Score : %d" % (pl, sc))

Player :  Sachin     Score : 100
Player :  Sehwag     Score : 15
Player :  Gambhir     Score : 17
Player :  Dravid     Score : 28
Player :  Raina     Score : 43

Enumerate() in Python

Often, when dealing with iterators, we also get a need to keep a count of iterations. 

Python eases the programmers task by providing a built-in function enumerate() for this task. 

Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. 

This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.

Syntax: enumerate(iterable, start=0)

Parameters:

Iterable: any object that supports iteration

Start: the index value from which the counter is to be started, by default it is 0

In [81]:
# Python program to illustrate
# enumerate function
l1 = ["eat","sleep","repeat"]
s1 = "geek"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print ("Return type:",type(obj1))
print (tuple(enumerate(l1)))    #using list instead of tuple brog out 'list is not callable'

# changing start index to 2 from 0
print (tuple(enumerate(s1,2)))

Return type: <class 'enumerate'>
((0, 'eat'), (1, 'sleep'), (2, 'repeat'))
((2, 'g'), (3, 'e'), (4, 'e'), (5, 'k'))

Dataframe exportation to csv.

We created a dataframe using dictionary.

We uploaded it into a csv file.

We created a new dataframe from our csv file.

We used the head command to show the first 5 rows.

In [89]:
import pandas as pd
dict1 = {'name' : ['Jack', 'Thomas', 'Alexandre'],
                'age' : [34, 30, 16],
                'city' : ['Paris', 'Roma', 'New York']}

df= pd.DataFrame(dict1)
df.to_csv('data csv', )
newdata= pd.read_csv('data csv')
newdata.head()               #how to remove unnamed

   Unnamed: 0       name  age      city
0           0       Jack   34     Paris
1           1     Thomas   30      Roma
2           2  Alexandre   16  New York

In [3]:
#To show general information of different columns such as the type, we write:
df.info()

df.head(2)   #to show the first 5 rows of our data

df.tail(2)  # to show the last 5 rows of our data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

        name  age      city
1     Thomas   30      Roma
2  Alexandre   16  New York

In [4]:
#Now, lets use the describe command for calculating some statistical data for one specific column.

df.describe()  # we will get a detailed description of numerical variables of our data such as mean, min, std, max...etc

             age
count   3.000000
mean   26.666667
std     9.451631
min    16.000000
25%    23.000000
50%    30.000000
75%    32.000000
max    34.000000

In [5]:
import pandas as pd

df = pd.DataFrame({"points": [25, 12, 15, 14, 19, 23,32,12],
                   "assists": [5, 7, 7, 9, 12, 9,11,6],
                   "rebounds": [11, 8, 10, 6, 6, 5,8,9]})

df.head()   #When we type df.head()/df.tail(), 5 rows are shown by default

   points  assists  rebounds
0      25        5        11
1      12        7         8
2      15        7        10
3      14        9         6
4      19       12         6

Dataframe Bracket Selection
In this course, we will often have to select specific rows or columns from our DataFrame.

One of the easiest ways to do that is to use brackets

In [4]:
import pandas as pd

boxes = {'Color': ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
         'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle'],
         'Price': [10,15,5,5,10,15,15,5]
        }

df = pd.DataFrame(boxes, columns= ['Shape','Color','Price'])
df

       Shape  Color  Price
0  Rectangle  Green     10
1  Rectangle  Green     15
2     Square  Green      5
3  Rectangle   Blue      5
4     Square   Blue     10
5     Square    Red     15
6     Square    Red     15
7  Rectangle    Red      5

In [13]:
import pandas as pd

boxes = {'Color': ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
         'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle'],
         'Price': [10,15,5,5,10,15,15,5]
        }

df[0:4]

       Shape  Color  Price
0  Rectangle  Green     10
1  Rectangle  Green     15
2     Square  Green      5
3  Rectangle   Blue      5

How to Select Rows from Pandas DataFrame

Create a DataFrame

Select Rows from Pandas DataFrame

You can use the following logic to select rows from Pandas DataFrame based on specified conditions:

df.loc[df[column name] condition]

For example, if you want to get the rows where the color is green, then youll need to apply:

df.loc[df[Color] == Green]

Where:

Color is the column name
Green is the condition

In [13]:
import pandas as pd

boxes = {'Color': ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
         'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle'],
         'Price': [10,15,5,5,10,15,15,5]
        }

df = pd.DataFrame(boxes, columns= ['Color','Shape','Price'])

select_color = df.loc[df['Color'] == 'Red']
print (select_color)

  Color      Shape  Price
5   Red     Square     15
6   Red     Square     15
7   Red  Rectangle      5

In [16]:
select_price = df.loc[df['Price'] <= 10]
print (select_price.head(3))

   Color      Shape  Price
0  Green  Rectangle     10
2  Green     Square      5
3   Blue  Rectangle      5

In [20]:
color_and_price = df.loc[(df['Color'] == 'Green') & (df['Price'] >= 5)]
print (color_and_price)

   Color      Shape  Price
0  Green  Rectangle     10
1  Green  Rectangle     15
2  Green     Square      5

In [21]:
color_or_shape = df.loc[(df['Color'] == 'Green') | (df['Shape'] == 'Rectangle')]
print (color_or_shape)

   Color      Shape  Price
0  Green  Rectangle     10
1  Green  Rectangle     15
2  Green     Square      5
3   Blue  Rectangle      5
7    Red  Rectangle      5

In [28]:
not_eqaul_to = df.loc[df['Price'] != 10 ]
print (not_eqaul_to)

   Color      Shape  Price
1  Green  Rectangle     15
2  Green     Square      5
3   Blue  Rectangle      5
5    Red     Square     15
6    Red     Square     15
7    Red  Rectangle      5

In [17]:
import pandas as pd

boxes = {'Color': ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
         'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle'],
         'Price': [10,15,5,5,10,15,15,5]
        }

df = pd.DataFrame(boxes, columns= ['Color','Shape','Price'])
df

new_df = df.set_index ('Shape')
new_df

           Color  Price
Shape
Rectangle  Green     10
Rectangle  Green     15
Square     Green      5
Rectangle   Blue      5
Square      Blue     10
Square       Red     15
Square       Red     15
Rectangle    Red      5

In [48]:
df.Shape
df.Price

0    10
1    15
2     5
3     5
4    10
5    15
6    15
7     5
Name: Price, dtype: int64

In [49]:
df['Price']

0    10
1    15
2     5
3     5
4    10
5    15
6    15
7     5
Name: Price, dtype: int64

In [71]:
import pandas as pd

titanic = {"id": [1,2,3,4,5], 
         "name": ['Mr. Owen Harris', 'Mrs. John Bradley' , ' Miss. Laina' , 'Mrs. Jacques Heath' , 'Mr. William Henry'] , 
         "age": [22, 38 , 26 , 35 , 35 ], 
         "sex": ['male', 'female','female', 'female', 'male'], 
         "survived": [0,1,1,1,0], 
         "address": ['Braund', 'Cumings','Heikkinen','Futrelle','Allen' ]  }

#To select a single column, use square brackets [] with the column name of the column of interest.
ages = titanic['age']
ages

[22, 38, 26, 35, 35]

In [35]:
# Dataframe loc
# The loc() method allows us to extract rows and columns by labeled index.
import pandas as pd

boxes = {'Color': ['Green','Green','Blue','Blue','Red'],
         'Shape': ['Rectangle','Triangle','Square','Rectangle','Square'],
         'Price': [10,15,5,5,10]
        }


df = pd.DataFrame(boxes, columns =  ['Color' , 'Shape' , 'Price'])
df

df.index=["Jack", "Thomas", "Alexandre", "Anne","Joan"] #get the index labeled
df.loc[["Jack", "Joan"]] #select the first and second row

      Color      Shape  Price
Jack  Green  Rectangle     10
Joan    Red     Square     10

In [40]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df
print (df)

#Single label. Note this returns the row as a Series.
df.loc['cobra']

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

max_speed    1
shield       2
Name: cobra, dtype: int64

In [44]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

#List of labels. Note using [[]] returns a DataFrame.
df.loc[['viper', 'sidewinder' , 'cobra']]

            max_speed  shield
viper               4       5
sidewinder          7       8
cobra               1       2

In [46]:
# Single label for row and column
df.loc['viper', 'shield']    #returns value in the intersction of viper and shield

5

In [48]:
#Slice with labels for row and single label for column. 
#As mentioned above, note that both the start and stop of the slice are included.

df.loc['cobra':'viper'  , 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [58]:
# Boolean list with the same length as the row axis
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

df.loc[[True, False, True]]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [62]:
# Alignable boolean Series:

df.loc[pd.Series([True, False, True],
       index=['viper', 'sidewinder', 'cobra'])]

       max_speed  shield
cobra          1       2
viper          4       5

In [64]:
# Index (same behavior as df.reindex)

df.loc[pd.Index(["cobra", "viper"], name="pet")]

       max_speed  shield
pet
cobra          1       2
viper          4       5

In [67]:
# Conditional that returns a boolean Series

df.loc[df['shield'] >= 5]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [70]:
# Conditional that returns a boolean Series with column labels specified

df.loc[df['shield'] > 6, ['max_speed'] ]

            max_speed
sidewinder          7

In [71]:
#Callable that returns a boolean Series

df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [81]:
# Set value for all items matching the list of labels

df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra              10      10
viper              30      50
sidewinder         30      50

In [82]:
# Set value for an entire row

df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper              30      50
sidewinder         30      50

In [83]:
# Set value for an entire column

df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [84]:
# Set value for rows matching callable condition

df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [86]:
# Getting values on a DataFrame with an index that has integer labels

# Another example using integers for the index

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [88]:
# Slice with integer labels for rows. 
# As mentioned above, note that both the start and stop of the slice are included.

df.loc[7:8]

   max_speed  shield
7          1       2
8          4       5

In [91]:
# Getting values with a MultiIndex

# A number of examples using a DataFrame with a MultiIndex

tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')     ]

index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]

df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [94]:
# Single label. Note this returns a DataFrame with a single index.

df.loc [['viper', 'cobra' ]]

                max_speed  shield
viper mark ii           7       1
      mark iii         16      36
cobra mark i           12       2
      mark ii           0       4

In [95]:
# Single index tuple. Note this returns a Series.

df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [96]:
# Single label for row and column. Similar to passing in a tuple, this returns a Series.

df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [97]:
# Single tuple. Note using [[]] returns a DataFrame.

df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [98]:
# Single tuple for the index with a single label for the column

df.loc[('cobra', 'mark i'), 'shield']

2

In [99]:
# Slice from index tuple to single label

df.loc[('cobra', 'mark i'):'viper']

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [100]:
# Slice from index tuple to index tuple

df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

In [17]:
# Dataframe iloc
# The iloc() follows the same rules as loc(). It extracts rows and coumns by selecting indexes.
import pandas as pd

tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')     ]

index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]

df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df.iloc[:, 0:2] #select the second and third columns with keeping all rows
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

property DataFrame.iloc
Purely integer-location based indexing for selection by position.

.iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

Allowed inputs are:

An integer, e.g. 5.

A list or array of integers, e.g. [4, 3, 0].

A slice object with ints, e.g. 1:7.

A boolean array.

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above). This is useful in method chains, when you dont have a reference to the calling object, but would like to base your selection on some value.

.iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing (this conforms with python/numpy slice semantics).

In [103]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [109]:
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [110]:
type(df.iloc[0])

pandas.core.series.Series

In [111]:
# With a list of integers.

df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [112]:
type(df.iloc[[0]])

pandas.core.frame.DataFrame

In [113]:
df.iloc[[0, 1,2]]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [116]:
#With a slice object.

df.iloc[:2]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [27]:
import pandas as pd
mydict = [ {'a': 1, 'b': 2, 'c': 3, 'd': 4},
{'a': 100, 'b': 200, 'c': 300, 'd': 400},
{'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 } ] 

# With a boolean mask the same length as the index.

df.iloc[[False, False, True,False,True,True]]

                     max_speed  shield
sidewinder mark i           10      20
viper      mark ii           7       1
           mark iii         16      36

In [121]:
# With a callable, useful in method chains. The x passed to the lambda is the DataFrame being sliced. 
#This selects the rows whose index label even.

df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [123]:
#Indexing both axes
#You can mix the indexer types for the index and columns. Use : to select the entire axis.
#With scalar integers.

df.iloc[2, 3]

4000

In [124]:
#With lists of integers.

df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [135]:
#With slice objects.
df.iloc[2:3, 0:3]

      a     b     c
2  1000  2000  3000

In [136]:
df.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

In [140]:
# With a boolean array whose length matches the columns.

df.iloc[:, [True, False, True, True]]

      a     c     d
0     1     3     4
1   100   300   400
2  1000  3000  4000

In [139]:
#With a callable function that expects the Series or DataFrame.

df.iloc[:, lambda df: [0, 3]]

      a     d
0     1     4
1   100   400
2  1000  4000

Dataframe drop
To drop specified labels from rows or columns, we simply use drop() method.

For example, we want to delete the country column we added previously:

df.drop("country", axis=1)
drop() method has inplace=False as default, you can see that the country column is not gone. Take a break & make some research.

DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')[source]
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level. See the user guide <advanced.shown_levels> for more information about the now unused levels.

Parameters
labelssingle label or list-like
Index or column labels to drop. A tuple will be used as a single label and not treated as a list-like.

axis{0 or index, 1 or columns}, default 0
Whether to drop labels from the index (0 or index) or columns (1 or columns).

indexsingle label or list-like
Alternative to specifying axis (labels, axis=0 is equivalent to index=labels).

columnssingle label or list-like
Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

levelint or level name, optional
For MultiIndex, level from which the labels will be removed.

inplacebool, default False
If False, return a copy. Otherwise, do operation inplace and return None.

errors{ignore, raise}, default raise
If ignore, suppress error and only existing labels are dropped.

Returns
DataFrame or None
DataFrame without the removed index or column labels or None if inplace=True.

Raises
KeyError
If any of the labels is not found in the selected axis.

DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')[source]
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding axis, or by specifying directly index or column names. When using a multi-index, labels on different levels can be removed by specifying the level. See the user guide <advanced.shown_levels> for more information about the now unused levels.

Parameters
labelssingle label or list-like
Index or column labels to drop. A tuple will be used as a single label and not treated as a list-like.

axis{0 or index, 1 or columns}, default 0
Whether to drop labels from the index (0 or index) or columns (1 or columns).

indexsingle label or list-like
Alternative to specifying axis (labels, axis=0 is equivalent to index=labels).

columnssingle label or list-like
Alternative to specifying axis (labels, axis=1 is equivalent to columns=labels).

levelint or level name, optional
For MultiIndex, level from which the labels will be removed.

inplacebool, default False
If False, return a copy. Otherwise, do operation inplace and return None.

errors{ignore, raise}, default raise
If ignore, suppress error and only existing labels are dropped.

Returns
DataFrame or None
DataFrame without the removed index or column labels or None if inplace=True.

Raises
KeyError
If any of the labels is not found in the selected axis.

In [145]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [154]:
#Drop columns 
df.drop(['B', 'C'], axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [156]:
# Drop columns
df.drop(columns=['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

In [157]:
# Drop a row by index
df.drop([0, 1])

   A  B   C   D
2  8  9  10  11

In [153]:
# Drop a row by index
df.drop([0])

   A  B   C   D
1  4  5   6   7
2  8  9  10  11

In [3]:
# Drop columns and/or rows of MultiIndex DataFrame
import pandas as pd  

midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight', 'length']],
                     codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3, 0.2]])
df

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [4]:
#Drop a specific index combination from the MultiIndex DataFrame, 
#i.e., drop the combination 'falcon' and 'weight', which deletes only the corresponding row

df.drop(index=( 'cow' , 'speed') )    #Question :how to drop multiple indexes

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [163]:
df.drop(index='cow', columns='small')

                 big
lama   speed    45.0
       weight  200.0
       length    1.5
falcon speed   320.0
       weight    1.0
       length    0.3

In [170]:
df.drop(index='length', level=1)   #Question: what are levels

                 big  small
lama   speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8

pandas.concat
pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)[source]
Concatenate pandas objects along a particular axis with optional set logic along the other axes.

Can also add a layer of hierarchical indexing on the concatenation axis, which may be useful if the labels are the same (or overlapping) on the passed axis number.

Parameters
objsa sequence or mapping of Series or DataFrame objects
If a mapping is passed, the sorted keys will be used as the keys argument, unless it is passed, in which case the values will be selected (see below). Any None objects will be dropped silently unless they are all None in which case a ValueError will be raised.

axis{0/index, 1/columns}, default 0
The axis to concatenate along.

join{inner, outer}, default outer
How to handle indexes on other axis (or axes).

ignore_indexbool, default False
If True, do not use the index values along the concatenation axis. The resulting axis will be labeled 0, , n - 1. This is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information. Note the index values on the other axes are still respected in the join.

keyssequence, default None
If multiple levels passed, should contain tuples. Construct hierarchical index using the passed keys as the outermost level.

levelslist of sequences, default None
Specific levels (unique values) to use for constructing a MultiIndex. Otherwise they will be inferred from the keys.

nameslist, default None
Names for the levels in the resulting hierarchical index.

verify_integritybool, default False
Check whether the new concatenated axis contains duplicates. This can be very expensive relative to the actual data concatenation.

sortbool, default False
Sort non-concatenation axis if it is not already aligned when join is outer. This has no effect when join='inner', which already preserves the order of the non-concatenation axis.

Changed in version 1.0.0: Changed to not sort by default.

copybool, default True
If False, do not copy data unnecessarily.

Returns
object, type of objs
When concatenating all Series along the index (axis=0), a Series is returned. When objs contains at least one DataFrame, a DataFrame is returned. When concatenating along the columns (axis=1), a DataFrame is returned.

In [188]:
#Combine two Series.
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [187]:
# Clear the existing index and reset it in the result by setting the ignore_index option to True.
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [186]:
# Add a hierarchical index at the outermost level of the data with the keys option.

pd.concat([s1, s2], keys=['s1', 's2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [189]:
#Label the index keys you create with the names option.

pd.concat([s1, s2], keys=['s1', 's2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [103]:
# Combine two DataFrame objects with identical columns.
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

pd.concat([df1, df2])
pd.concat([df1, df2], ignore_index=True)

  letter  number
0      a       1
1      b       2
2      c       3
3      d       4

In [105]:
#Combine DataFrame objects with overlapping columns and return everything. 
#Columns outside the intersection will be filled with NaN values.

df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])
df3


pd.concat([df1, df3], sort=False)
pd.concat([df1, df3], ignore_index=True)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
2      c       3    cat
3      d       4    dog

In [199]:
#Combine DataFrame objects with overlapping columns and return only those that are shared 
#by passing inner to the join keyword argument.

pd.concat([df1, df3], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [202]:
#Combine DataFrame objects horizontally along the x axis by passing in axis=1.

df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [203]:
#Combine DataFrame objects vertically along the x axis by passing in axis=0.

df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
pd.concat([df1, df4], axis=0)

  letter  number  animal    name
0      a     1.0     NaN     NaN
1      b     2.0     NaN     NaN
0    NaN     NaN    bird   polly
1    NaN     NaN  monkey  george

In [205]:
#Prevent the result from including duplicate index values with the verify_integrity option.

df5 = pd.DataFrame([1], index=['a'])
df5

df6 = pd.DataFrame([2], index=['a'])
df6

pd.concat([df5, df6], verify_integrity=True)

# result Traceback (most recent call last)
#ValueError: Indexes have overlapping values: ['a']

IndentationError: unexpected indent (Temp/ipykernel_4768/3850150867.py, line 12)

In [214]:
dict1 = {'name' : ['Jack', 'Thomas', 'Alexandre'],
                'age' : [34, 30, 16],
                'city' : ['Paris', 'Roma', 'New York']}
dict2 = {'name' : ['Josh'],
         'age' : 27, 
         'city': ['Texas'] }

df1 = pd.DataFrame(dict1)
df1
df2 = pd.DataFrame(dict2)
df2

pd.concat([df1,df2])
pd.concat([df1,df2] , ignore_index=True)

        name  age      city
0       Jack   34     Paris
1     Thomas   30      Roma
2  Alexandre   16  New York
3       Josh   27     Texas

In [28]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)
df

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [29]:
df.iloc[2]

name        Katherine
score            16.5
attempts            2
qualify           yes
Name: 2, dtype: object

In [30]:
df.iloc[2,]

name        Katherine
score            16.5
attempts            2
qualify           yes
Name: 2, dtype: object

In [34]:
df.iloc[2,:]

name        Katherine
score            16.5
attempts            2
qualify           yes
Name: 2, dtype: object

In [35]:
df.iloc[2:]

        name  score  attempts qualify
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [32]:
df.iloc[:3]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [36]:
df.iloc[0:3]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [37]:
df.iloc[0:3,:]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [39]:
# Extract the 4th column
df.iloc[:,3]

0    yes
1     no
2    yes
3     no
4     no
5    yes
6    yes
7     no
8     no
9    yes
Name: qualify, dtype: object

In [47]:
#Extract the first 2 columns
df.iloc[:,0:2]
df.iloc[:,:2]

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [56]:
# Extract rows/columns by index or conditions.
df.loc[9]

name        Jonas
score        19.0
attempts        1
qualify       yes
Name: 9, dtype: object

In [60]:
df.loc[7, 'score']

nan

In [62]:
import pandas as pd

# Create a dataframe from a dict
df = pd.DataFrame({"a": [1,2,3], "b":[2,4,6]})
print("The DataFrame object before deleting the column")
print(df)
df.drop('a', inplace=True, axis=1)
print("The DataFrame object after deleting the column a")
print(df)

#line 7 shows how to drop a column by calling drop.
#inplace=True means the operation would work on the original object.
#axis=1 means we are dropping the column, not the row.
# u can compare the output of line 6 and line 9.

The DataFrame object before deleting the column
   a  b
0  1  2
1  2  4
2  3  6
The DataFrame object after deleting the column a
   b
0  2
1  4
2  6

In [63]:
#  del is also an option, you can delete a column by del df['column name'].
# The Python would map this operation to df.__delitem__('column name'), which is an internal method of DataFrame.

import pandas as pd

# Create a dataframe from a dict
df = pd.DataFrame({"a": [1,2,3], "b":[2,4,6]})
print("The DataFrame object before deleting the column")
print(df)
del df["a"]
print("The DataFrame object after deleting the column a")
print(df)

The DataFrame object before deleting the column
   a  b
0  1  2
1  2  4
2  3  6
The DataFrame object after deleting the column a
   b
0  2
1  4
2  6

In [66]:
# pop() function would also drop the column. Unlike the other two methods, this function would return the column.
# line 7 shows how to use pop() to delete a column.

import pandas as pd

# Create a dataframe from a dict
df = pd.DataFrame({"a": [1,2,3], "b":[2,4,6]})
print("The DataFrame object before deleting the column")
print(df)
df.pop("b")
print("The DataFrame object after deleting the column a")
print(df)

The DataFrame object before deleting the column
   a  b
0  1  2
1  2  4
2  3  6
The DataFrame object after deleting the column a
   a
0  1
1  2
2  3

In [67]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address

# Observe the result
df

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [70]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Using DataFrame.insert() to add a column
df.insert(3, "Age", [21, 23, 24, 21], True)   # the specified number is the position for insertion 

# Observe the result
df

     Name  Height Qualification  Age
0     Jai     5.1           Msc   21
1  Princi     6.2            MA   23
2  Gaurav     5.1           Msc   24
3    Anuj     5.2           Msc   21

In [71]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}


# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Using 'Address' as the column name and equating it to the list
df2 = df.assign(address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'])

# Observe the result
df2

     Name  Height Qualification    address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [72]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Define a dictionary with key values of
# an existing column and their respective
# value pairs as the # values for our new column.
address = {'Delhi': 'Jai', 'Bangalore': 'Princi',
		'Patna': 'Gaurav', 'Chennai': 'Anuj'}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

# Provide 'Address' as the column name
df['Address'] = address

# Observe the output
df

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc      Patna
3    Anuj     5.2           Msc    Chennai

syntax = np.where(condition, value if condition is true, value if condition is false)

In [76]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"a": [1,2,3], "b":[2,4,3]})
df

def f(row):
    if row['a'] == row['b']:
        val = 0
    elif row['a'] > row['b']:
        val = 1
    else:
        val = -1
    return val

#Then apply it to your dataframe passing in the axis=1 option:

df['c'] = df.apply(f, axis=1)
df

   a  b  c
0  1  2 -1
1  2  4 -1
2  3  3  0

In [82]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"a": [1,2,3], "b":[2,4,3]})
df

df['c'] = np.where(df['a'] == df['b'], 0, np.where(df['a'] >  df['b'], 1, -1)) 
df

   a  b  c
0  1  2 -1
1  2  4 -1
2  3  3  0

In [88]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2,3], "B":[2,4,3]})
df

df.loc[df['A'] == df['B'], 'C'] = 0
df.loc[df['A'] > df['B'], 'C'] = 1
df.loc[df['A'] < df['B'], 'C'] = -1

df

   A  B    C
0  1  2 -1.0
1  2  4 -1.0
2  3  3  0.0

How to Drop Rows that Contain a Specific String in Pandas?
In this article, we are going to see how to drop rows that contain a specific string in pandas. 
Now, to drop the rows with a specific string we can use the contains() function from the pandas library. 

Syntax: series.str.contains(string, case=True, flags=0, na=None, regex=True
Returns: Series or index of Boolean Values

Basically, this function will search for the string in the given column and returns the rows respective to that. 
For this, we need to create a new data frame by filtering the data frame using this function. 

Syntax: df[ df[ column ].str.contains( someString )==False ]

In [90]:
# Importing the library
import pandas as pd

# Dataframe
df = pd.DataFrame({'team': ['Team 1', 'Team 1', 'Team 2',
							'Team 3', 'Team 2', 'Team 3'],
				'Subject': ['Math', 'Science', 'Science',
							'Math', 'Science', 'Math'],
				'points': [10, 8, 10, 6, 6, 5]})

# display
df

     team  Subject  points
0  Team 1     Math      10
1  Team 1  Science       8
2  Team 2  Science      10
3  Team 3     Math       6
4  Team 2  Science       6
5  Team 3     Math       5

Method 1: Dropping the rows that contain a specific string
In this method, we are going to find the rows with str.contains() function which will basically take the string from the series and check for the match of the given string, 
and using a boolean we are selecting the rows and setting them to False will help us to neglect the selected rows and keep the remaining rows.

syntax:  df[df[column_name].str.contains(string)==False]

In [91]:
#Example: In the following example, we are going to select all the teams except  Team 1.

# importing the library
import pandas as pd
  
# Dataframe
df = pd.DataFrame({'team': ['Team 1', 'Team 1', 'Team 2',
                            'Team 3', 'Team 2', 'Team 3'],
                   'Subject': ['Math', 'Science', 'Science', 
                               'Math', 'Science', 'Math'],
                   'points': [10, 8, 10, 6, 6, 5]})
  
# Dropping the team 1
df = df[df["team"].str.contains("Team 1") == False]
  
df

     team  Subject  points
2  Team 2  Science      10
3  Team 3     Math       6
4  Team 2  Science       6
5  Team 3     Math       5

Method 2: Dropping the rows with more than one string
Same as method 1, we follow the same steps here but with a bitwise or operator to add an extra string to search for.

syntax: df = df[df[column_name].str.contains(string1|string2)==False]

In [92]:
# Example: In the following, program we are going to drop the rows that contain Team 1 or Team 2.

# importing the library
import pandas as pd
  
# Dataframe
df = pd.DataFrame({'team': ['Team 1', 'Team 1', 'Team 2', 
                            'Team 3', 'Team 2', 'Team 3'],
                   'Subject': ['Math', 'Science', 'Science', 
                               'Math', 'Science', 'Math'],
                   'points': [10, 8, 10, 6, 6, 5]})
  
# Dropping the rows of team 1 and team 2
df = df[df["team"].str.contains("Team 1|Team 2") == False]
  
# display
df

     team Subject  points
3  Team 3    Math       6
5  Team 3    Math       5

Method 3: Drop rows with the given partial string
Here we are using the same function with a join method that carries the part of the word we need to search. 

syntax: 

 df[ ~df.column_name.str.contains(|.join([string])) ]

In [93]:
#Example: In this following program, the situation is different from the above two cases. 
#Here we are going to select and drop the rows with the given partial string. 
#For example, we are going to drop the rows with Sci on the column subjects.

# importing the library
import pandas as pd
  
# Dataframe
df = pd.DataFrame({'team': ['Team 1', 'Team 1', 'Team 2', 
                            'Team 3', 'Team 2', 'Team 3'],
                   'Subject': ['Math', 'Science', 'Science',
                               'Math', 'Science', 'Math'],
                   'points': [10, 8, 10, 6, 6, 5]})
  
# Dropping the rows with "Sci"
# identify partial string
discard = ["Sci"]
  
# drop rows that contain the partial string "Sci"
df[~df.Subject.str.contains('|'.join(discard))]
  
#display
df

     team  Subject  points
0  Team 1     Math      10
1  Team 1  Science       8
2  Team 2  Science      10
3  Team 3     Math       6
4  Team 2  Science       6
5  Team 3     Math       5

In [95]:
#Steps to Drop Rows with NaN Values in Pandas DataFrame
#Step 1: Create a DataFrame with NaN Values

import pandas as pd

df = pd.DataFrame({'values_1': ['700','ABC','500','XYZ','1200'],
                   'values_2': ['DDD','150','350','400','5000'] 
                   })
df

  values_1 values_2
0      700      DDD
1      ABC      150
2      500      350
3      XYZ      400
4     1200     5000

In [97]:
# You can then use to_numeric in order to convert the values in the dataset into a float format. 
#But since 3 of those values are non-numeric, youll get NaN for those 3 values.

#Here is the code that you may use to get the NaN values:

import pandas as pd

df = pd.DataFrame({'values_1': ['700','ABC','500','XYZ','1200'],
                   'values_2': ['DDD','150','350','400','5000'] 
                   })

df = df.apply (pd.to_numeric, errors='coerce')

df

   values_1  values_2
0     700.0       NaN
1       NaN     150.0
2     500.0     350.0
3       NaN     400.0
4    1200.0    5000.0

In [99]:
#Step 2: Drop the Rows with NaN Values in Pandas DataFrame
#To drop all the rows with the NaN values, you may use df.dropna().

#Here is the complete Python code to drop those rows with the NaN values:

import pandas as pd

df = pd.DataFrame({'values_1': ['700','ABC','500','XYZ','1200'],
                   'values_2': ['DDD','150','350','400','5000'] 
                   })

df = df.apply (pd.to_numeric, errors='coerce')
df = df.dropna()

df

   values_1  values_2
2     500.0     350.0
4    1200.0    5000.0

In [101]:
#You may have noticed that those two rows no longer have a sequential index. 
#It is currently 2 and 4. You can then reset the index to start from 0.
#You can apply the following syntax to reset an index in Pandas DataFrame:  df.reset_index(drop=True)

#So this is the full Python code to drop the rows with the NaN values, and then reset the index:

import pandas as pd

df = pd.DataFrame({'values_1': ['700','ABC','500','XYZ','1200'],
                   'values_2': ['DDD','150','350','400','5000'] 
                   })

df = df.apply (pd.to_numeric, errors='coerce')
df = df.dropna()
df = df.reset_index(drop=True)

df

   values_1  values_2
0     500.0     350.0
1    1200.0    5000.0

In [106]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s6 = pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])
print("Original DataFrames:")
print(student_data1)
print("\nNew Row(s)")
print(s6)
combined_data = student_data1.append(s6, ignore_index = True)
print("\nCombined Data:")
print(combined_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

New Row(s)
student_id                  S6
name          Scarlette Fisher
marks                      205
dtype: object

Combined Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [107]:
#Converts a number to a list of digits:

def tips_digit(n):
    return list(map(int, str(n)))

print(tips_digit(2468))

[2, 4, 6, 8]

Python  Pandas dataframe.append()
Syntax: DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

Parameters :
other : DataFrame or Series/dict-like object, or list of these
ignore_index : If True, do not use the index labels.
verify_integrity : If True, raise ValueError on creating index with duplicates.
sort : Sort columns if the columns of self and other are not aligned. The default sorting is deprecated and will change to not-sorting in a future version of pandas. Explicitly pass sort=True to silence the warning and sort. Explicitly pass sort=False to silence the warning and not sort.

Returns: appended : DataFrame

In [108]:
# Example #1: Create two data frames and append the second to the first one.

# Importing pandas as pd
import pandas as pd
  
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})
  
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})
  
# Print df1
print(df1, "\n")
  
# Print df2
df2

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

   a  b
0  1  5
1  2  6
2  3  7

In [109]:
# to append df2 at the end of df1 dataframe
df1.append(df2)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
0  1  5
1  2  6
2  3  7

In [110]:
# A continuous index value will be maintained
# across the rows in the new appended data frame.
df1.append(df2, ignore_index = True)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
4  1  5
5  2  6
6  3  7

In [111]:
#Example #2: Append dataframe of different shape.

#For unequal no. of columns in the data frame, non-existent value in one of the dataframe will be filled with NaN values.

# Importing pandas as pd
import pandas as pd
  
# Creating the first Dataframe using dictionary
df1 = pd.DataFrame({"a":[1, 2, 3, 4],
                    "b":[5, 6, 7, 8]})
  
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7], 
                    "c":[1, 5, 4]})
  
# for appending df2 at the end of df1
df1.append(df2, ignore_index = True)

   a  b    c
0  1  5  NaN
1  2  6  NaN
2  3  7  NaN
3  4  8  NaN
4  1  5  1.0
5  2  6  5.0
6  3  7  4.0

In [112]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Original rows:")
print(df)
print("\nAppend a new row:")
df.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('k')
print(df)

Original rows:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Append a new row:
Print all records after insert a new record:
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima     9.0        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily     9.0        2      no
f    Michael    20.0        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin     8.0        2      no
j      Jonas    19.0        1     yes
k          1  Suresh      yes    15.5

Delete the new row and display the original  rows:
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima   9.0        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily   9.0        2      no
f    Michael  20.0        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin   8.0        2      no
j      Jonas  19.0        1     yes

## CHECKPOINT 7

In [122]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)


print ('Print the three first rows using head() method')
Q1 = df.head(3)
Q1

print ('Delete rows with Nan values')
Q2 = Q1.dropna()
Q2

print ('Extract the name and score columns from the DataFrame.')
Q3 = Q2.iloc[:,0:2]
Q3

print ('Write a Pandas program to append a new row "k" to data frame')
new_data = pd.DataFrame({ 'name' : ["Suresh"], 
                         'score': [15.5], 
                         'attempts': [1], 
                         'qualify': ["yes"] } )
Q4 = Q3.append( {'name' : "Suresh", 
                'score': 15.5 } , ignore_index = True) 
Q4

print ('Write a Pandas program to delete the "attempts" column from the DataFrame')
del df['attempts']

print ('Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0')
np.where(Q4.score > 10 , 1, 0)

Q4['sucess'] = np.where( Q4['score']> 10 , 1, 0 )
Q4

Print the three first rows using head() method
Delete rows with Nan values
Extract the name and score columns from the DataFrame.
Write a Pandas program to append a new row "k" to data frame
Write a Pandas program to delete the "attempts" column from the DataFrame
Add a new column "Success" : if the score is higher than 10 we will have 1 else we will have 0

        name  score  sucess
0  Anastasia   12.5       1
1       Dima    9.0       0
2  Katherine   16.5       1
3     Suresh   15.5       1

In [123]:
print ('After executing the final dataframe, export it into csv file named "my_data"')
Q4.to_csv('my_data')

After executing the final dataframe, export it into csv file named "my_data"

Opening Files in Python

Python has a built-in open() function to open a file. 

This function returns a file object, also called a handle, as it is used to read or modify the file accordingly.

f = open("test.txt")    # open file in current directory

f = open("fullpath/test.txt")  # specifying full path

Opening mode:

We can specify the mode while opening a file. In mode, we specify whether we want to read r, write w or append a to the file. 

We can also specify if we want to open the file in text mode or binary mode.

The default is reading in text mode. In this mode, we get strings when reading from the file.

On the other hand, binary mode returns bytes and this is the mode to be used when dealing with non-text files like images or executable files.

Mode	Description

r	 Opens a file for reading

w	Opens a file for writing. Creates a new file if it does not exist or truncates the file if it exists.

x	Opens a file for exclusive creation. If the file already exists, the operation fails.

a	Opens a file for appending at the end of the file without truncating it

t	Opens in text mode.

b	Opens in binary mode.

'+'	Opens a file for updating.

Reading Files in Python

To read a file in Python, we must open the file in reading r mode.

There are various methods available for this purpose. We can use the read(size) method to read in the size number of data.

If the size parameter is not specified, it reads and returns up to the end of the file.

We can read the text.txt file we wrote in the above section in the following way:

f = open("test.txt",'r',encoding = 'utf-8')

f.read(4)    # read the first 4 data

f.read(4)    # read the next 4 data

f.read()     # read in the rest till end of file

f.read()  # further reading returns empty sting

We can see that the read() method returns a newline as '\n'. Once the end of the file is reached, we get an empty string on further reading.

In [139]:
f = open("test.txt",'r',encoding = 'utf-8')
f.read(6)    # read the first 4 data
f.read(5)    # read the next 4 data

'ye.\nI'

In [138]:
f = open("test.txt",'r')
f.read()  # read in the rest till end of file
f.read()  # further reading returns empty sting

''

In [148]:
#Reading file line by line
#We can read a file line-by-line using a for loop. This is both efficient and fast.

f = open("test.txt",'r')
for line in f:
    print(line, end = "")

I'm toye.
I studied data analysis.
My specialty is Python.

In [1]:
f = open("test.txt",'r')

#The readline() method reads the first line of the file.
print(f.readline())

#The readlines() method returns all lines in the file.
print(f.readlines())

I'm toye.

['I studied data analysis.\n', 'My specialty is Python.']

In [4]:
f = open("test.txt",'r')
line_no = 2

for i in range(line_no):
    line =f.readline()
    print(line)

I'm toye.

I studied data analysis.

In [7]:
f = open("test.txt",'r')
content = f.readlines()

# read 10th line from the file
print("tenth line")
print(content[2])

# print first 3 lines of file
print("first three lines")
print(content[0:3])

tenth line
My specialty is Python.
first three lines
["I'm toye.\n", 'I studied data analysis.\n', 'My specialty is Python.']

In [11]:
# syntax : getLine(txt-file, line_number)
# importing required package
import linecache

# extracting the 5th line
particular_line = linecache.getline('test.txt', 2)

# print the particular line
print(particular_line)

I studied data analysis.

Method 3: enumerate()

The enumerate() method is used to convert a string or a list object to a sequence of data indexed by numbers. 
It is then used in the listing of the data in combination with for loop.
Lines at particular indexes can be accessed by specifying the index numbers required in an array.

In [40]:
# open a file
file = open("sample_text.txt")

# lines to print
specified_lines = [0, 4, 9]

# loop over lines in a file
for pos, l_num in enumerate(file):
	# check if the line number is specified in the lines to read array
	if pos in specified_lines:
		# print the required line number
		print(l_num)

NAME:   Erwinia carotovora atroseptica

Strain: LMG 2404

Name:   Erwinia chrysanthemi

In [41]:
a_file = open("sample_text.txt", "r")
lines = a_file.readlines()
last_lines = lines[-5:]

print(last_lines)
a_file.close()

['Strain: LMG 2804\n', 'Pheno:  0253035205\n', 'Name:   Erwinia cypripedii\n', 'Strain: LMG 2657\n', 'Pheno:  0051311301']

In [42]:
# Python implementation to read last N lines of a file

# Function to read
# last N lines of the file
def LastNlines(fname, N):
	# opening file using with() method
	# so that file get closed
	# after completing work
	with open(fname) as file:
		
		# loop to read iterate
		# last n lines and print it
		for line in (file.readlines() [-N:]):
			print(line, end ='')


# Driver Code:
if __name__ == '__main__':
	fname = 'sample_text.txt'
	N = 6
	try:
		LastNlines(fname, N)
	except:
		print('File not found')

Name:   Erwinia chrysanthemi
Strain: LMG 2804
Pheno:  0253035205
Name:   Erwinia cypripedii
Strain: LMG 2657
Pheno:  0051311301


Writing to Files in Python

In order to write into a file in Python, we need to open it in write w, append a or exclusive creation x mode.

We need to be careful with the w mode, as it will overwrite into the file if it already exists. Due to this, all the previous data are erased.

Writing a string or sequence of bytes (for binary files) is done using the write() method. This method returns the number of characters written to the file.

with open("test.txt",'w',encoding = 'utf-8') as f:
    
   f.write("my first file\n")

   f.write("This file\n\n")
    
   f.write("contains three lines\n")

This program will create a new file named test.txt in the current directory if it does not exist.

In [154]:
with open("test2.txt",'w',encoding = 'utf-8') as f:
    f.write("my first file\n")
    f.write("This file\n\n")
    f.write("contains three lines\n")

In [155]:
#File deleting:
#To delete a file, you must import the OS module, and run its os.remove() function:

import os
os.remove("test2.txt")

In [156]:
# Closing Files in Python
#f = open("test.txt", encoding = 'utf-8')
# perform file operations

f.close()

In [43]:
#Python Program to Count Words in Text File
#Example 1: Count String Words

# creating variable to store the
# number of words
number_of_words = 0

# Opening our text file in read only
# mode using the open() function
with open(r'sample_text.txt','r') as file:

	# Reading the content of the file
	# using the read() function and storing
	# them in a new variable
	data = file.read()

	# Splitting the data into separate lines
	# using the split() function
	lines = data.split()

	# Adding the length of the
	# lines in our number_of_words
	# variable
	number_of_words += len(lines)


# Printing total number of words
print(number_of_words)

42

Explanation: 

Creating a new variable to store the total number of words in the text file. And then open the text file in read-only mode using the open() function.
Read the content of the file using the read() function and storing them in a new variable. And then split the data stored in the data variable into separate lines using the split() function and then storing them in a new variable. 
And add the length of the lines in our number_of_words variable.

In [44]:
#Example 2: Count the number of words, not Integer

# creating variable to store the
# number of words
number_of_words = 0

# Opening our text file in read only
# mode using the open() function
with open(r'sample_text.txt','r') as file:

	# Reading the content of the file
	# using the read() function and storing
	# them in a new variable
	data = file.read()

	# Splitting the data into separate lines
	# using the split() function
	lines = data.split()

	# Iterating over every word in
	# lines
	for word in lines:

		# checking if the word is numeric or not
		if not word.isnumeric():		

			# Adding the length of the
			# lines in our number_of_words
			# variable
			number_of_words += 1

# Printing total number of words
print(number_of_words)

32

Explanation: Create a new variable to store the total number of words in the text file and then open the text file in read-only mode using the open() function. 
Read the content of the file using the read() function and storing them in a new variable and then split the data stored in the data variable into separate lines using the split() function and then storing them in a new variable, 
Iterating over every word in lines using the for loop and check if the word is numeric or not using the isnumeric() function then add 1 in our number_of_words variable.

In [21]:
# creating variable to store the
# number of words
number_of_words = 0

# Opening our text file in read only
# mode using the open() function
with open(r'test.txt','r') as file:

	# Reading the content of the file
	# using the read() function and storing
	# them in a new variable
	data = file.read()

	# Splitting the data into separate lines
	# using the split() function
	lines = data.split()

	# Adding the length of the
	# lines in our number_of_words
	# variable
	number_of_words += len(lines)


# Printing total number of words
print(number_of_words)

10

In [31]:
def count_words(filepath):
    with open(filepath) as f:
        data = f.read()
        data.replace(",", " ")
        return len(data.split(" "))
print(count_words("test.txt"))

8

In [46]:
with open('sample_text.txt','r+') as f:
	lines=f.read()
	words=lines.split()
	print(len(words))

42

In [47]:
with open('sample_text.txt','r+') as f:
	numw=0
	for line in f:
		words= line.split()
		print(words)
		numw += len(words)
	print(numw)

['NAME:', 'Erwinia', 'carotovora', 'atroseptica']
['Strain:', 'LMG', '2386']
['Pheno:', '0251034201']
['Name:', 'Erwinia', 'carotovora', 'carotovora']
['Strain:', 'LMG', '2404']
['Pheno:', '0251034204']
['Name:', 'Erwinia', 'betavasculorum']
['Strain:', 'LMG', '2466']
['Pheno:', '0251034202']
['Name:', 'Erwinia', 'chrysanthemi']
['Strain:', 'LMG', '2804']
['Pheno:', '0253035205']
['Name:', 'Erwinia', 'cypripedii']
['Strain:', 'LMG', '2657']
['Pheno:', '0051311301']
42

An algorithm is a procedure or formula for solving a problem, based on conducting a sequence of specified actions. 
A computer program can be viewed as an elaborate algorithm. 
In mathematics and computer science, an algorithm usually means a small procedure that solves a recurrent problem.

Recursion
Recursion is a common mathematical and programming concept which aims at finding solutions to problems using smaller solutions of the same problem. 
It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.
Recursive algorithms have applications in list sorting, binary tree traversal, path finding and much more
To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

Recursion code
Since we will be writing an algorithm to find factorials, it is worth reviewing the definition of a factorial. The factorial of a natural number, n, is the product of all natural numbers less than or equal to n: n*(n-1)(n-2)(n-3).....321

For example, if n=6:
6!=65432*1

Lets think about this recursively. If we have a recursive function f, wed want to use f to calculate 6! in the following way:

6! = f(6)

f(6) = 6f(5)

f(5) = 5f(4), so f(6) = 65f(4)

f(4) = 4f(3), so f(6) = 654f(3)

f(3) = 3f(2), so f(6) = 6543f(2)

f(2) = 2f(1), so f(6) = 65432f(1)

f(1) = 1, so f(6) = 654321.

To implement this in python, we need to define a function, well call recursive_factorial, that takes input n, and returns n*recursive_factorial(n-1). Moreover, wed like the function to keep returning itself until the input is equal to one. At that point we return 1 and the recursion terminates. 
To implement this we do the following:

In [8]:
def recursive_factorial(n):
    if n == 1:
        return 1
    else:
        return n*recursive_factorial(n-1)
recursive_factorial(6)

720

In [4]:
#Recursive vs Iterative algorithm
num=6
factorial = 1

# check if the number is negative, positive or zero
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
print("The factorial of",num,"is",factorial)

The factorial of 6 is 720

In [5]:
b= factorial 
print (type(b))

<class 'int'>

In [10]:
# Python 3 program to find
# factorial of given number
def factorial(n):
	
	# Checking the number
	# is 1 or 0 then
	# return 1
	# other wise return
	# factorial
	if (n==1 or n==0):
		
		return 1
	
	else:
		
		return (n * factorial(n - 1))

# Driver Code
num = 5;
print("number : ",num)
print("Factorial : ",factorial(num))

number :  5
Factorial :  120

In [38]:
# Program to print the fibonacci series upto n_terms

# Recursive function
def recursive_fibonacci(n):
    if n <= 1:
        return n
    else:
        return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))

n_terms = 10

# check if the number of terms is valid
if n_terms <= 0:
    print("Invalid input ! Please input a positive value")
else:
    print("Fibonacci series:")
for i in range(n_terms):
	print(recursive_fibonacci(i))

Fibonacci series:
0
1
1
2
3
5
8
13
21
34

What is Tail-Recursion?

A unique type of recursion where the last procedure of a function is a recursive call. The recursion may be automated away by performing the request in the current stack frame and returning the output instead of generating a new stack frame. The tail-recursion may be optimized by the compiler which makes it better than non-tail recursive functions.

Is it possible to optimize a program by making use of a tail-recursive function instead of non-tail recursive function?
Considering the function given below in order to calculate the factorial of n, we can observe that the function looks like a tail-recursive at first but it is a non-tail-recursive function. If we observe closely, we can see that the value returned by Recur_facto(n-1) is used in Recur_facto(n), so the call to Recur_facto(n-1) is not the last thing done by Recur_facto(n).

In [39]:
# Program to calculate factorial of a number
# using a Non-Tail-Recursive function.

# non-tail recursive function
def Recur_facto(n):
	
	if (n == 0):
		return 1
	
	return n * Recur_facto(n-1)
	
# print the result
print(Recur_facto(6))

720

We can write the given function Recur_facto as a tail-recursive function. The idea is to use one more argument and in the second argument, we accommodate the value of the factorial. When n reaches 0, return the final value of the factorial of the desired number.

In [40]:
# Program to calculate factorial of a number
# using a Tail-Recursive function.

# A tail recursive function
def Recur_facto(n, a = 1):
	
	if (n == 0):
		return a
	
	return Recur_facto(n - 1, n * a)
	
# print the result
print(Recur_facto(6))

720

Binary search

Binary search is a classic algorithm in computer science. It often comes up in programming contests and technical interviews. 
Implementing binary search turns out to be a challenging task, even when you understand the concept.

The aim of this algorithm is to find the position of a target value within a sorted array. 
The binary search algorithm can be classified as a dichotomies divide-and-conquer search algorithm and executes in logarithmic time.

Binary search steps
https://youtu.be/DnvWAd-RGhk

In [8]:
print ('BINARY SEARCH')
def binary_search(data, item):
    low= 0                #all indexes begin with 0 
    high= len(data) - 1   #-1 is the last index of the sequence
    
    #use while loop to complete iterations needed to find the item
    while low <= high:    #valid interval
        middle = (low+high) // 2   # // division approximates the result
        
        #check if middle element is the item we are looking for
        if data[middle] == item : 
            return middle
        #if item is less thean middle restict search to lower half 
        elif item < data[middle]: 
            high = middle -1
        #if item is greater thean middle restict search to upper half 
        else: 
            low = middle + 1 
    
    #if item is not in the data
    return -1  # use -1 because -1 isnt a valid idex. its not a possible value that would be returned if the element is found 

print (binary_search([5,6,15,25,45,145], 45) )

BINARY SEARCH
4

In [7]:
def binary_search(sequence, item):
    begin_index = 0
    end_index = len(sequence) - 1

    while begin_index <= end_index:
        midpoint = begin_index + (end_index - begin_index) // 2     #prints the index
        print ('mid index is' , midpoint)
        
        midpoint_value = sequence[midpoint]       #pritns the value is inserted sequence
        print ('mid value is', midpoint_value)
        
        if midpoint_value == item:
            return midpoint

        elif item < midpoint_value:
            end_index = midpoint - 1

        else:
            begin_index = midpoint + 1

    return 'Not available'

sequence_a = [2,4,5,6,7,8,9,10,12,13,14]
item_a = 3


print(binary_search(sequence_a, item_a))

mid index is 5
mid value is 8
mid index is 2
mid value is 5
mid index is 0
mid value is 2
mid index is 1
mid value is 4
Not available

In [23]:
#Binary search example
#let's illustrates how the binary search works. The element that we are looking for is the number 46.

#l= begin_index
#h= end_index
# midpoint is 31 on position '5'
# index =[0, 1, 2, 3,  4,  5,  6,  7,  8,  9,  10]
# A     =[1, 2, 7, 12, 28, 31, 40, 41, 42, 46, 59]


def binary_search(A, l, h, k):
    if h >= l:
        mid = int(l + (h - l)/2)
        print('midpoint is:' , mid)
        if A[mid] == k:
            return 'k is found'
        elif A[mid] > k:
            return binary_search(A, l, mid-1, k)
        else:
            return binary_search(A, mid+1, h, k)
    else:
        return 'k is not found'

A=[1, 2, 7, 12, 28, 31, 40, 41, 42, 46, 59]

k=46
l=0
h=len(A)-1

binary_search(A, l, h, k)

#5 is mid of 0-10
#8 is mid of 6-10
#9 is mid of 8-10

midpoint is: 5
midpoint is: 8
midpoint is: 9

'k is found'

Sorting algorithm

Sorting algorithms are among the most important algorithms in computer science. 
Sorting involves the task of arranging data in a particular format(ascending/descending order)

The importance of sorting lies in the fact that data searching can be optimized to a very high level, if data is stored in a sorted manner. 
Sorting is also used to represent data in more readable formats.

Bubble Sort 

Bubble Sort is a simple algorithm which is used to sort a given set of n elements provided in form of an array with n number of elements. 
Bubble Sort compares all the element one by one and sort them based on their values.

https://youtu.be/xli_FI7CuzA

In [9]:
print ('BUBBLE SORT')
def bubble_sort(seq):           # seq represemts list but list cant be used as a parameter name
    for i in range (len(seq)):  # go through the list once per element/ one iteration per element
# i is a loop variable that represnts the no of elemnts that are already sorted (correct position)
# i is intially 0 because nothing is sorted at the start

#we using the nested loop to determine which pairs of values should be swapped
#compare the pair of elements that are unsorted(not necessarly in final position yet) and swap if necessary. 

        for j in range (len(seq)-i-1):
# by subtracting i we are decrementing the no of comaprisons that we make./ no of elements left to sort in the list
# by subtracting 1 we arent going to reach the last element in the list because we have to consider the last pair 
# ie we dont want to consider the last element in the list

            #if elemnts arent in order        
            if seq[j]>seq[j+1]:
                #swap them using tuple assignment
                seq[j] , seq[j+1] = seq[j+1] , seq[j] 
                
# we subtract 1 because the comdition swaps the element with the one after it. 
# the last element has nothing after it so we exclude it from the loop. 

my_list= [29,13,22,37,52,49,46,71,56]
print (my_list)

bubble_sort(my_list)
print (my_list)

#the fucntion doent return values it just changes the list
# therefore my_list will be mutated in memory

BUBBLE SORT
[29, 13, 22, 37, 52, 49, 46, 71, 56]
[13, 22, 29, 37, 46, 49, 52, 56, 71]

In [27]:
# Bubble sort code
# Let's sort this list by implementing bubble sort algorithm

def bubbleSort(nlist):
    for passnum in range(len(nlist)-1,0,-1):
        for i in range(passnum):
            if nlist[i]>nlist[i+1]:
                temp = nlist[i]
                nlist[i] = nlist[i+1]
                nlist[i+1] = temp
    return nlist

nlist = [14,46,43,27,57,41,45,21,70]
bubbleSort(nlist)

[14, 21, 27, 41, 43, 45, 46, 57, 70]

In [26]:
def bubble(list_a):
    indexing_length = len(list_a) - 1 #Can not apply comparision starting with last item of list (No item to right)
    sorted = False #Create variable of sorted and set it equal to false

    while not sorted:  #Repeat until sorted = True
        sorted = True  # Break the while loop whenever we have gone through all the values

        for i in range(0, indexing_length): # For every value in the list
            if list_a[i] > list_a[i+1]: #if value in list is greater than value directly to the right of it,
                sorted = False # These values are unsorted
                list_a[i], list_a[i+1] = list_a[i+1], list_a[i] #Switch these values
    return list_a # Return our list "unsorted_list" which is not sorted.

print(bubble([4,8,1,14,8,2,9,5,7,6,6]))

[1, 2, 4, 5, 6, 6, 7, 8, 8, 9, 14]

In [28]:
# Bubble Sort is the simplest sorting algorithm that works by repeatedly swapping the adjacent elements if they are in wrong order. 

# Python program for implementation of Bubble Sort

def bubbleSort(arr):
	n = len(arr)

	# Traverse through all array elements
	for i in range(n-1):
	# range(n) also work but outer loop will
	# repeat one time more than needed.

		# Last i elements are already in place
		for j in range(0, n-i-1):

			# traverse the array from 0 to n-i-1
			# Swap if the element found is greater
			# than the next element
			if arr[j] > arr[j + 1] :
				arr[j], arr[j + 1] = arr[j + 1], arr[j]

# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]

bubbleSort(arr)

print ("Sorted array is:")
for i in range(len(arr)):
	print ("% d" % arr[i],end=" ")

Sorted array is:
 11  12  22  25  34  64  90

In [31]:
# Please refer complete article on Bubble Sort for more details! 

def bubblesort(elements):
# Looping from size of array from last index[-1] to index [0]
    for n in range(len(elements)-1, 0, -1):
        for i in range(n):
            if elements[i] > elements[i + 1]:
		# swapping data if the element is less than next element in the array
                elements[i], elements[i + 1] = elements[i + 1], elements[i]

elements = [39,12,18,85,72,10,2,18]

print("Unsorted list is,")
print( elements)
bubblesort(elements)
print("Sorted Array is, ")
print(elements)

Unsorted list is,
[39, 12, 18, 85, 72, 10, 2, 18]
Sorted Array is,
[2, 10, 12, 18, 18, 39, 72, 85]

Merge sort

Merge sort is one of the most popular sorting algorithms. 
It is used to sort the values in any traversable data structure such as a list. 
It works by splitting the input list into two halves, repeating the process on those halves, and finally merging the two sorted halves together.

MERGE SORT

General principle
1. split array in half
2. call merge sort on each half to sort them recursively
3. merge both sorted halves to one sorted array

In [34]:
def mergeSort(myList):
    if len(myList) > 1:
        mid = len(myList) // 2
        left = myList[:mid]
        right = myList[mid:]

        # Recursive call on each half
        mergeSort(left)
        mergeSort(right)

        # Two iterators for traversing the two halves
        i = 0
        j = 0
        
        # Iterator for the main list
        k = 0
        
        while i < len(left) and j < len(right):
            if left[i] < right[j]:
              # The value from the left half has been used
              myList[k] = left[i]
              # Move the iterator forward
              i += 1
            else:
                myList[k] = right[j]
                j += 1
            # Move to the next slot
            k += 1

        # For all the remaining values
        while i < len(left):
            myList[k] = left[i]
            i += 1
            k += 1

        while j < len(right):
            myList[k]=right[j]
            j += 1
            k += 1

myList = [54,26,93,17,77,31,44,55,20]
mergeSort(myList)
print(myList)

[17, 20, 26, 31, 44, 54, 55, 77, 93]

In [32]:
# Python program for implementation of MergeSort

# Merges two subarrays of arr[].
# First subarray is arr[l..m]
# Second subarray is arr[m+1..r]


def merge(arr, l, m, r):
	n1 = m - l + 1
	n2 = r - m

	# create temp arrays
	L = [0] * (n1)
	R = [0] * (n2)

	# Copy data to temp arrays L[] and R[]
	for i in range(0, n1):
		L[i] = arr[l + i]

	for j in range(0, n2):
		R[j] = arr[m + 1 + j]

	# Merge the temp arrays back into arr[l..r]
	i = 0	 # Initial index of first subarray
	j = 0	 # Initial index of second subarray
	k = l	 # Initial index of merged subarray

	while i < n1 and j < n2:
		if L[i] <= R[j]:
			arr[k] = L[i]
			i += 1
		else:
			arr[k] = R[j]
			j += 1
		k += 1

	# Copy the remaining elements of L[], if there
	# are any
	while i < n1:
		arr[k] = L[i]
		i += 1
		k += 1

	# Copy the remaining elements of R[], if there
	# are any
	while j < n2:
		arr[k] = R[j]
		j += 1
		k += 1

# l is for left index and r is right index of the
# sub-array of arr to be sorted


def mergeSort(arr, l, r):
	if l < r:

		# Same as (l+r)//2, but avoids overflow for
		# large l and h
		m = l+(r-l)//2

		# Sort first and second halves
		mergeSort(arr, l, m)
		mergeSort(arr, m+1, r)
		merge(arr, l, m, r)


# Driver code to test above
arr = [12, 11, 13, 5, 6, 7]
n = len(arr)
print("Given array is")
for i in range(n):
	print("%d" % arr[i],end=" ")

mergeSort(arr, 0, n-1)
print("\n\nSorted array is")
for i in range(n):
	print("%d" % arr[i],end=" ")

# This code is contributed by Mohit Kumra

Given array is
12 11 13 5 6 7

Sorted array is
5 6 7 11 12 13

In [10]:
def merge_sort(arr):
    if len(arr) == 1:
        return arr
    if len(arr) > 1 :
        mid = len(arr)//2 
        left= arr[:mid]   #from start(index= 0) up to mid(len(array)//2 )
        right = arr[mid:]  # from mid(len(array)//2) to end(len(array))
        
        
        #recursion: call merge_sort recurively on both arrays
        
        merge_sort(left)
        merge_sort(right)
        #after this the two array are now in sorted order
        
        
        #merge
        i= 0       #use index i  to keep track of leftmost index in left array
        j= 0       #use index j to keep track of leftmost array in right array
        k= 0       #merged array index
        while i< (left) and j<(right): 
            #inside while loop compare left array at index i with the right array at index j  
            if left[i] < right[j]:  #at all current indexes
                arr[k] = left[i]        #save value of left array inside merged array
                i += 1    #increase curent index of left array
            else:
                arr[k] = right[j]        #save value of left array inside merged array
                j += 1    #increase curent index of right array
                
            k+= 1 # increase current index of merged array in every while loop. 
                  #this could also be place after botht the if and else conditions.
                
#imagine if we have transferred all of the rigt array elements to the merged array 
#now theres nothing to compare the left over elements of the left array with
#we need to consider the case of transfering everr element of left array to merged array without considering the right array

        while i< len(left):
            arr[k] = left[i] 
            i+=1
            k+=1
# now implemt sceneraio vice versa
        while j<len(right):
            arr[k] = right[j]
            j+=1
            k+=1
               
test= [2,3,5,1,7,4,4,4,2,6,0] 
merge_sort(test) 
print (test)

TypeError: '<' not supported between instances of 'int' and 'list'

Like QuickSort, Merge Sort is a Divide and Conquer algorithm. 
It divides the input array into two halves, calls itself for the two halves, and then merges the two sorted halves. 
The merge() function is used for merging two halves. The merge(arr, l, m, r) is a key process that assumes that arr[l..m] and arr[m+1..r] are sorted and merges the two sorted sub-arrays into one. 
See the following C implementation for details.

MergeSort(arr[], l,  r)
If r > l
     1. Find the middle point to divide the array into two halves:  
             middle m = l+ (r-l)/2
             
     2. Call mergeSort for first half:   
             Call mergeSort(arr, l, m)
             
     3. Call mergeSort for second half:
             Call mergeSort(arr, m+1, r)
             
     4. Merge the two halves sorted in step 2 and 3:
             Call merge(arr, l, m, r)

In [33]:
# Python program for implementation of MergeSort
def mergeSort(arr):
	if len(arr) > 1:

		# Finding the mid of the array
		mid = len(arr)//2

		# Dividing the array elements
		L = arr[:mid]

		# into 2 halves
		R = arr[mid:]

		# Sorting the first half
		mergeSort(L)

		# Sorting the second half
		mergeSort(R)

		i = j = k = 0

		# Copy data to temp arrays L[] and R[]
		while i < len(L) and j < len(R):
			if L[i] < R[j]:
				arr[k] = L[i]
				i += 1
			else:
				arr[k] = R[j]
				j += 1
			k += 1

		# Checking if any element was left
		while i < len(L):
			arr[k] = L[i]
			i += 1
			k += 1

		while j < len(R):
			arr[k] = R[j]
			j += 1
			k += 1

# Code to print the list


def printList(arr):
	for i in range(len(arr)):
		print(arr[i], end=" ")
	print()


# Driver Code
if __name__ == '__main__':
	arr = [12, 11, 13, 5, 6, 7]
	print("Given array is", end="\n")
	printList(arr)
	mergeSort(arr)
	print("Sorted array is: ", end="\n")
	printList(arr)

# This code is contributed by Mayank Khanna

Given array is
12 11 13 5 6 7
Sorted array is:
5 6 7 11 12 13

Time Complexity: Sorting arrays on different machines. Merge Sort is a recursive algorithm and time complexity can be expressed as following recurrence relation. 
T(n) = 2T(n/2) + (n)

The above recurrence can be solved either using the Recurrence Tree method or the Master method. 
It falls in case II of Master Method and the solution of the recurrence is (nLogn). 

Time complexity of Merge Sort is  (nLogn) in all 3 cases (worst, average and best) as merge sort always divides the array into two halves and takes linear time to merge two halves.

Auxiliary Space: O(n)

Algorithmic Paradigm: Divide and Conquer

Sorting In Place: No in a typical implementation

Stable: Yes


Applications of Merge Sort 

Merge Sort is useful for sorting linked lists in O(nLogn) time. In the case of linked lists, the case is different mainly due to the difference in memory allocation of arrays and linked lists. Unlike arrays, linked list nodes may not be adjacent in memory. Unlike an array, in the linked list, we can insert items in the middle in O(1) extra space and O(1) time. Therefore, the merge operation of merge sort can be implemented without extra space for linked lists.
In arrays, we can do random access as elements are contiguous in memory. Let us say we have an integer (4-byte) array A and let the address of A[0] be x then to access A[i], we can directly access the memory at (x + i*4). Unlike arrays, we can not do random access in the linked list. Quick Sort requires a lot of this kind of access. In a linked list to access ith index, we have to travel each and every node from the head to ith node as we dont have a continuous block of memory. Therefore, the overhead increases for quicksort. Merge sort accesses data sequentially and the need of random access is low.

Inversion Count Problem

Used in External Sorting


Drawbacks of Merge Sort

Slower comparative to the other sort algorithms for smaller tasks.

Merge sort algorithm requires an additional memory space of 0(n) for the temporary array.

It goes through the whole process even if the array is sorted.

Quick sort

Quicksort is a popular sorting algorithm that is often faster in practice compared to other sorting algorithms. It utilizes a divide-and-conquer strategy to quickly sort data items by dividing a large array into two smaller arrays.

https://youtu.be/Hoixgm4-P4M

Quick sort code

To ensure the quick sort, we'll use two functions: partition() and quick_sort(). 
The quick_sort()function will first partition() then recursively call itself on the divided parts.
So, let's start with the partition() function:

In [45]:
def partition(array, start, end):
    pivot = array[start]
    low = start + 1
    high = end
    while True:
        # If the current value we're looking at is larger than the pivot
        # it's in the right place (right side of pivot) and we can move left,
        # to the next element.
        # We also need to make sure we haven't surpassed the low pointer, since that
        # indicates we have already moved all the elements to their correct side of the pivot
        while low <= high and array[high] >= pivot:
            high = high - 1

        # Opposite process of the one above
        while low <= high and array[low] <= pivot:
            low = low + 1

        # We either found a value for both high and low that is out of order
        # or low is higher than high, in which case we exit the loop
        if low <= high:
            array[low], array[high] = array[high], array[low]
            # The loop continues
        else:
            # We exit out of the loop
            break

    array[start], array[high] = array[high], array[start]

    return high

In [13]:
def quick_sort(sequence):
    length = len(sequence)
    if length <= 1:
        return sequence
    else:
        pivot = sequence.pop()  #pop drops the last element

    items_greater = []
    items_lower = []

    for item in sequence:
        if item > pivot:
            items_greater.append(item)

        else:
            items_lower.append(item)

    return quick_sort(items_lower) + [pivot] + quick_sort(items_greater)
# we concatenate our pivot point 
# apply algotithm to items lower, have pivot point in the centre, and apply agin to items greater
# repeated till logic breaks

print(quick_sort([5,6,7,8,9,8,7,6,5,6,7,8,9,0]))

[0, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9]

In [43]:
#Bubble sort code
#And now, let's implement the quick_sort() function:

def quick_sort(array, start, end):
    if start >= end:
        return

    p = partition(array, start, end)
    quick_sort(array, start, p-1)
    quick_sort(array, p+1, end)

#With both of them implemented, we can run quick_sort() on a simple array:

array = [29,99,27,41,66,28,44,78,87,19,31,76,58,88,83,97,12,21,44]
quick_sort(array, 0, len(array) - 1)
print(array)

[12, 19, 21, 27, 28, 29, 31, 41, 44, 44, 58, 66, 76, 78, 83, 87, 88, 97, 99]

QUICK SORT

Like Merge Sort, QuickSort is a Divide and Conquer algorithm. It picks an element as pivot and partitions the given array around the picked pivot. There are many different versions of quickSort that pick pivot in different ways. 

Always pick first element as pivot. 

Always pick last element as pivot (implemented below) 

Pick a random element as pivot.

Pick median as pivot.

https://youtu.be/PgBzjlCcFvc

Illustration of partition() : 

arr[] = {10, 80, 30, 90, 40, 50, 70}
Indexes:  0   1   2   3   4   5   6 

low = 0, high =  6, pivot = arr[h] = 70
Initialize index of smaller element, i = -1


Traverse elements from j = low to high-1
j = 0 : Since arr[j] <= pivot, do i++ and swap(arr[i], arr[j])
i = 0 
arr[] = {10, 80, 30, 90, 40, 50, 70} // No change as i and j 
                                     // are same

j = 1 : Since arr[j] > pivot, do nothing
// No change in i and arr[]

j = 2 : Since arr[j] <= pivot, do i++ and swap(arr[i], arr[j])
i = 1
arr[] = {10, 30, 80, 90, 40, 50, 70} // We swap 80 and 30 

j = 3 : Since arr[j] > pivot, do nothing
// No change in i and arr[]

j = 4 : Since arr[j] <= pivot, do i++ and swap(arr[i], arr[j])
i = 2
arr[] = {10, 30, 40, 90, 80, 50, 70} // 80 and 40 Swapped
j = 5 : Since arr[j] <= pivot, do i++ and swap arr[i] with arr[j] 
i = 3 
arr[] = {10, 30, 40, 50, 80, 90, 70} // 90 and 50 Swapped 

We come out of loop because j is now equal to high-1.
Finally we place pivot at correct position by swapping
arr[i+1] and arr[high] (or pivot) 
arr[] = {10, 30, 40, 50, 70, 90, 80} // 80 and 70 Swapped 

Now 70 is at its correct place. All elements smaller than
70 are before it and all elements greater than 70 are after
it.

In [12]:
# Python3 implementation of QuickSort 

# Function to find the partition position
def partition(array, low, high):

# Choose the rightmost element as pivot
    pivot = array[high]

# Pointer for greater element
    i = low - 1

# Traverse through all elements
# compare each element with pivot
    for j in range(low, high):
        if array[j] <= pivot:
	# If element smaller than pivot is found
	# swap it with the greater element pointed by i
            i = i + 1

	# Swapping element at i with element at j
            (array[i], array[j]) = (array[j], array[i])

# Swap the pivot element with the greater element specified by i
    (array[i + 1], array[high]) = (array[high], array[i + 1])

# Return the position from where partition is done
    return i + 1

# Function to perform quicksort
def quick_sort(array, low, high):
    if low < high:

	# Find pivot element such that
	# element smaller than pivot are on the left
	# element greater than pivot are on the right
        pi = partition(array, low, high)

	# Recursive call on the left of pivot
        quick_sort(array, low, pi - 1)

	# Recursive call on the right of pivot
        quick_sort(array, pi + 1, high)


		
# Driver code
array = [ 10, 7, 8, 9, 1, 5]
quick_sort(array, 0, len(array) - 1)

print(f'Sorted array: {array}')
	
# This code is contributed by Adnan Aliakbar

Sorted array: [1, 5, 7, 8, 9, 10]

Trees

Trees are used in many areas of computer science, including operating systems, graphics, database systems, and computer networking. Tree data structures have many things in common with natural trees. Both of them have a root, branches, and leaves. The difference between a tree in nature and a tree in computer science is that a tree data structure has its root at the top and its leaves on the bottom.

One of the most famous properties of a tree is its hierarchy. By hierarchy, we mean that trees are structured in layers with the more general things near the top and the more specific things near the bottom. The top of the hierarchy is the Kingdom, the next layer of the tree (the children of the layer above) is the Phylum, then the Class, and so on.

Tree traversal

Traversal is a process to visit all the nodes of a tree and may print their values too. Since all nodes are connected via edges (links) we always start from the root (head) node, we cannot randomly access a node in a tree.

There are three ways to traverse a tree: 

1.In-order Traversal
2.Pre-order Traversal
3.Post-order Traversal

The difference between these three ways is the order in which each node is visited. Lets start out by defining these three traversals more carefully.

1. Preorder traversal:
In a preorder traversal, we visit the root node first, then recursively do a preorder traversal of the left subtree, followed by a recursive preorder traversal of the right subtree.

2. Inorder traversal:
In an inorder traversal, we recursively do an inorder traversal on the left subtree, visit the root node, and finally do a recursive inorder traversal of the right subtree.

3. Postorder traversal:
In a postorder traversal, we recursively do a postorder traversal of the left subtree and the right subtree followed by a visit to the root node.

Binary tree

Trees can come in many different shapes, and they can vary in the number of children allowed per node or in the way they organize data values within the nodes. One of the most commonly used trees in computer science is the binary tree.

A binary tree is a tree in which each node can have at most two children. One child is identified as the left child and the other as the right child. The topmost node of the tree is known as the root node.It provides the single access point into the structure.

What's an ERROR:

The most common reason of an error in a Python program is when a certain statement is not in accordance with the prescribed usage.

Don't worry! The Python interpreter immediately reports the error, usually along with the reason.

IndexError: IndexError is thrown when trying to access an item at an invalid index. Try this code:

L1=[1,2,3]

L1[3]

You will obtain: py IndexError: list index out of range

In [17]:
print  ('INDEX ERROR')
L1=[1,2,3]
L1[3]

INDEX ERROR

IndexError: list index out of range

SyntaxError: SyntaxError is thrown when a syntax error is encountered.

Let's try this code:

print"hello world"

You will obtain:  SyntaxError: Missing parentheses in call to 'print'.

In [18]:
print ('SYNTAX ERROR')
print"hello world"

SyntaxError: invalid syntax (Temp/ipykernel_14612/3800845396.py, line 2)

ModuleNotFoundError: ModuleNotFoundError is thrown when a module could not be found.

Try this code:

import notamodule

You will obtain:

ModuleNotFoundError: No module named 'notamodule'

In [19]:
print ('ModuleNotFoundError')
import notamodule

ModuleNotFoundError

ModuleNotFoundError: No module named 'notamodule'

KeyError: KeyError is thrown when a key is not found.

Try this code:

D1={'1':"aa", '2':"bb", '3':"cc"}
D1['4']

You will obtain:  KeyError: '4'

In [21]:
print ('Key error')
D1={'1':"aa", '2':"bb", '3':"cc"}
D1['4']

Key error

KeyError: '4'

IndentationError: IndentationError is thrown when an incorrect indentation is occured.

Let's try this code:

i=0; while i<4: ; print(i) ; i+=1

You will obtain: IndentationError: expected an indented block

In [24]:
print ('indentation error')
i=0
while i<4:
print(i)
i+=1

IndentationError: expected an indented block (Temp/ipykernel_14612/1784582497.py, line 4)

ImportError: ImportError is thrown when a specified function can not be found.

Let's try this code:

from math import cube

You will obtain: ImportError: cannot import name 'cube'

In [25]:
print ('import error')
from math import cube

import error

ImportError: cannot import name 'cube' from 'math' (unknown location)

StopIteration: StopIteration is thrown when the next() function goes beyond the iterator items.

Let's try this code:

it=iter([1,2,3])
next(it)
next(it)
next(it)
next(it)

You will obtain: StopIteration

In [26]:
print ('StopIteration')
it=iter([1,2,3])
next(it)
next(it)
next(it)
next(it)

StopIteration

StopIteration:

TypeError: TypeError is thrown when an operation or function is applied to an object of an inappropriate type.

Let's try this code:

 '2'+2
    
You will obtain:  TypeError: must be str, not int

In [27]:
print ('type error')
'2'+2

type error

TypeError: can only concatenate str (not "int") to str

ValueError: ValueError is thrown when a function's argument is of an inappropriate type.

Let's try this code:

int('xyz')

You will obtain: ValueError: invalid literal for int() with base 10: 'xyz'

In [28]:
print ('value error')
int('xyz')

value error

ValueError: invalid literal for int() with base 10: 'xyz'

NameError: NameError is thrown when an object could not be found.

Try this code:

age

You will obtain: NameError: name 'age' is not defined

In [29]:
print ('name error')
age

name error

NameError: name 'age' is not defined

ZeroDivisionError: ZeroDivisionError is thrown when the second operator in the division is zero.

Let's try this code:

x=100/0

You will obtain: ZeroDivisionError: division by zero

In [30]:
print ('ZeroDivisionError')
x=100/0

ZeroDivisionError

ZeroDivisionError: division by zero

KeyboardInterrupt: KeyboardInterrupt is thrown when the user hits the interrupt key (normally Control-C) during the execution of the program.

Let's try this code:

name=input('enter your name') ; 
enter your name^c

You will obtain: KeyboardInterrupt

In [ ]:
print ('KeyboardInterrupt')
name=input('enter your name')

KeyboardInterrupt

Other type errors

The following table lists important built-in exceptions in Python.

Error -- Description

SystemError	-- Raised when the interpreter detects internal error.

SystemExit	-- Raised by the sys.exit() function.

UnboundLocalError -- Raised when the interpreter detects internal error.

AssertionError -- Raised when the assert statement fails.

AttributeError -- Raised on the attribute assignment or reference fails.

FloatingPointError -- Raised when a floating point operation fails.

GeneratorExit -- Raised when a generator's close() method is called.

Labphase: How to build your own Project using python
    
This Lab phase is composed of different checkpoints that contains recommendations and directives to develop your final project.

This Step is the perfect opportunity to learn by making and apply what youve learned through out this track.

No amount of theory can replace hands-on practice. Lessons can trick you into a false belief of mastery because there is no practice on real world-data problems. That's why once you go try to apply it, you might find that it's harder than it looks.
The goal of this Lab phase is to elevate your applied python skills on real-world problem.

The checkpoints that make up this lab phase are:

Program to implement simple FLAMES game (step1)

Program to implement simple FLAMES game (step2)

Program to create a countdown from scratch using Python

The First step is Program to implement simple FLAMES game (step1).

Lab Phase Introduction

This project is awesome for 2 main reasons:

First, you'll learn how to translate a real-world problem into code.

Second, this project will teach you how to implement a well structured and coherent code.

So be inventif, free and make it possible!

Don't worry, you are already provided with all the tools you need to achieve this work through previous checkpoints and workshops.

Problem Identification:
    
The first step in implementing a project is identifying the problem you need to solve.
Ask questions like what outcome is desired? and what is the problem that is being attempted to solve here?
To answer to these questions, simply, you are going to match the real problem you're trying to solve to algorithmic problem, and here you will be able to practice what you have learned during this program.